In [6]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
case_files = glob.glob("Resources/*.csv")
case_files

['Resources/Diag_National_CandR.csv',
 'Resources/Diag_County_CandR.csv',
 'Resources/Diag_State_CandR.csv']

In [8]:
#read in csv's to use
diag_nat_cr = pd.read_csv('Resources/Diag_National_CandR.csv')
diag_st_cr = pd.read_csv('Resources/Diag_State_CandR.csv')
diag_cnty_cr = pd.read_csv('Resources/Diag_County_CandR.csv')

diag_nat_cr['Geography'] = 'US'
diag_nat_cr

,2008,Unnamed: 1,2009,Unnamed: 3,2010,Unnamed: 5,2011,Unnamed: 7,2012,Unnamed: 9,...,Unnamed: 13,2015,Unnamed: 15,2016,Unnamed: 17,2017,Unnamed: 19,2018,Unnamed: 21,Geography
0,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,...,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,US
1,"47,290",18.8,"44,751",17.7,"43,067",16.8,"41,311",16,"40,529",15.5,...,15,"39,796",14.8,"39,520",14.6,"38,226",14,"37,286",13.6,US

In [11]:
diag_nat_cr.columns
# diag_st_cr.columns
# diag_cnty_cr.columns

Index(['2008', 'Unnamed: 1', '2009', 'Unnamed: 3', '2010', 'Unnamed: 5',
       '2011', 'Unnamed: 7', '2012', 'Unnamed: 9', '2013', 'Unnamed: 11',
       '2014', 'Unnamed: 13', '2015', 'Unnamed: 15', '2016', 'Unnamed: 17',
       '2017', 'Unnamed: 19', '2018', 'Unnamed: 21', 'Geography'],
      dtype='object')

In [12]:
#Rename column headers
#Rate is per 100,000
diag_nat_cr = diag_nat_cr.rename(columns= {'2008':'Cases_08','Unnamed: 1':'Rate_08','2009':'Cases_09','Unnamed: 3':'Rate_09',
                                           '2010':'Cases_10','Unnamed: 5':'Rate_10','2011':'Cases_11','Unnamed: 7':'Rate_11',
                                           '2012':'Cases_12','Unnamed: 9':'Rate_12','2013':'Cases_13','Unnamed: 11':'Rate_13',
                                           '2014':'Cases_14','Unnamed: 13':'Rate_14','2015':'Cases_15','Unnamed: 15':'Rate_15',
                                           '2016':'Cases_16','Unnamed: 17':'Rate_16','2017':'Cases_17','Unnamed: 19':'Rate_17',
                                           '2018':'Cases_18','Unnamed: 21':'Rate_18'})
diag_st_cr = diag_st_cr.rename(columns={'2008':'Cases_08','Unnamed: 2':'Rate_08','2009':'Cases_09','Unnamed: 4':'Rate_09',
                                           '2010':'Cases_10','Unnamed: 6':'Rate_10','2011':'Cases_11','Unnamed: 8':'Rate_11',
                                           '2012':'Cases_12','Unnamed: 10':'Rate_12','2013':'Cases_13','Unnamed: 12':'Rate_13',
                                           '2014':'Cases_14','Unnamed: 14':'Rate_14','2015':'Cases_15','Unnamed: 16':'Rate_15',
                                           '2016':'Cases_16','Unnamed: 18':'Rate_16','2017':'Cases_17','Unnamed: 20':'Rate_17',
                                           '2018':'Cases_18','Unnamed: 22':'Rate_18'})
diag_cnty_cr = diag_cnty_cr.rename(columns={'2008':'Cases_08','Unnamed: 2':'Rate_08','2009':'Cases_09','Unnamed: 4':'Rate_09',
                                           '2010':'Cases_10','Unnamed: 6':'Rate_10','2011':'Cases_11','Unnamed: 8':'Rate_11',
                                           '2012':'Cases_12','Unnamed: 10':'Rate_12','2013':'Cases_13','Unnamed: 12':'Rate_13',
                                           '2014':'Cases_14','Unnamed: 14':'Rate_14','2015':'Cases_15','Unnamed: 16':'Rate_15',
                                           '2016':'Cases_16','Unnamed: 18':'Rate_16','2017':'Cases_17','Unnamed: 20':'Rate_17',
                                           '2018':'Cases_18','Unnamed: 22':'Rate_18'})
#Put 'Geography' column in the right spot
diag_nat_cr = diag_nat_cr[['Geography','Cases_08','Rate_08','Cases_09','Rate_09','Cases_10','Rate_10',
                           'Cases_11','Rate_11','Cases_12','Rate_12','Cases_13','Rate_13','Cases_14','Rate_14',
                           'Cases_15','Rate_15','Cases_16','Rate_16','Cases_17','Rate_17','Cases_18','Rate_18']]
diag_nat_cr

,Geography,Cases_08,Rate_08,Cases_09,Rate_09,Cases_10,Rate_10,Cases_11,Rate_11,Cases_12,...,Cases_14,Rate_14,Cases_15,Rate_15,Cases_16,Rate_16,Cases_17,Rate_17,Cases_18,Rate_18
0,US,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
1,US,"47,290",18.8,"44,751",17.7,"43,067",16.8,"41,311",16,"40,529",...,"39,963",15,"39,796",14.8,"39,520",14.6,"38,226",14,"37,286",13.6

In [13]:
#Remove unwanted row
diag_nat_df = diag_nat_cr.iloc[1:]
diag_st_df = diag_st_cr.iloc[1:]
diag_cnty_df = diag_cnty_cr.iloc[1:]
diag_nat_df

,Geography,Cases_08,Rate_08,Cases_09,Rate_09,Cases_10,Rate_10,Cases_11,Rate_11,Cases_12,...,Cases_14,Rate_14,Cases_15,Rate_15,Cases_16,Rate_16,Cases_17,Rate_17,Cases_18,Rate_18
1,US,"47,290",18.8,"44,751",17.7,"43,067",16.8,"41,311",16,"40,529",...,"39,963",15,"39,796",14.8,"39,520",14.6,"38,226",14,"37,286",13.6

In [14]:
diag_cnty_df.head()

,Geography,Cases_08,Rate_08,Cases_09,Rate_09,Cases_10,Rate_10,Cases_11,Rate_11,Cases_12,...,Cases_14,Rate_14,Cases_15,Rate_15,Cases_16,Rate_16,Cases_17,Rate_17,Cases_18,Rate_18
1,"Ziebach County, SD",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Zavala County, TX",Data suppressed,Data suppressed,0,0,0,0,Data suppressed,Data suppressed,0,...,0,0,0,0,0,0,0,0,0,0
3,"Yuba County, CA",Data suppressed,Data suppressed,0,0,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,...,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed,Data suppressed
4,"Young County, TX",0,0,0,0,0,0,0,0,Data suppressed,...,0,0,0,0,0,0,Data suppressed,Data suppressed,0,0
5,"York County, NE",0,0,0,0,Data suppressed,Data suppressed,0,0,Data suppressed,...,0,0,0,0,Data suppressed,Data suppressed,0,0,Data suppressed,Data suppressed

In [93]:
def parsed(x):
    try:
        return int(x)
    except:
        return x

diag_all_df = pd.concat([diag_nat_df,diag_st_df,diag_cnty_df])
diag_all_df = diag_all_df.replace({'Data suppressed': np.nan, ',': ''}, regex=True)
diag_all_df = diag_all_df.apply(lambda x: parsed(x))
diag_all_df.head()

,Geography,Cases_08,Rate_08,Cases_09,Rate_09,Cases_10,Rate_10,Cases_11,Rate_11,Cases_12,...,Cases_14,Rate_14,Cases_15,Rate_15,Cases_16,Rate_16,Cases_17,Rate_17,Cases_18,Rate_18
1,US,47290,18.8,44751,17.7,43067,16.8,41311,16,40529,...,39963,15,39796,14.8,39520,14.6,38226,14,37286,13.6
1,Alabama,709,18.3,695,17.8,681,17.1,683,17.1,666,...,669,16.5,663,16.3,663,16.2,651,15.9,572,13.9
2,Alaska,39,7,21,3.7,35,6.1,24,4.1,28,...,38,6.3,25,4.2,37,6.1,34,5.6,20,3.3
3,Arizona,679,13,642,12.1,619,11.8,563,10.6,620,...,741,13.3,690,12.2,714,12.4,725,12.3,806,13.4
4,Arkansas,238,10.1,280,11.8,234,9.7,241,9.9,247,...,312,12.7,273,11,312,12.6,287,11.5,281,11.2

In [85]:
diag_all_df.to_csv('overall_diagnosis.csv',index=False)

In [86]:
#Use skipna to skip the null values so as not to mess with our numbers, but should be pointed out there are some
diag_all = diag_all_df
diag_all['Avg_Cases_Before'] = diag_all[['Cases_08','Cases_09', 'Cases_10', 'Cases_11','Cases_12']].mean(axis=1,skipna=True).round(0)
diag_all['Avg_Rate_Before'] = diag_all[['Rate_08','Rate_09', 'Rate_10', 'Rate_11','Rate_12']].mean(axis=1,skipna=True).round(1)
diag_all['Avg_Cases_After'] = diag_all[['Cases_13','Cases_14', 'Cases_15', 'Cases_16','Cases_17','Cases_18']].mean(axis=1,skipna=True).round(0)
diag_all['Avg_Rate_After'] = diag_all[['Rate_13','Rate_14', 'Rate_15', 'Rate_16','Rate_17','Rate_18']].mean(axis=1,skipna=True).round(1)
diag_all_df.head()

,Geography,Cases_08,Rate_08,Cases_09,Rate_09,Cases_10,Rate_10,Cases_11,Rate_11,Cases_12,...,Cases_16,Rate_16,Cases_17,Rate_17,Cases_18,Rate_18,Avg_Cases_Before,Avg_Rate_Before,Avg_Cases_After,Avg_Rate_After
1,US,47290.0,18.8,44751.0,17.7,43067.0,16.8,41311.0,16.0,40529.0,...,39520.0,14.6,38226.0,14.0,37286.0,13.6,43390.0,17.0,39004.0,14.5
1,Alabama,709.0,18.3,695.0,17.8,681.0,17.1,683.0,17.1,666.0,...,663.0,16.2,651.0,15.9,572.0,13.9,687.0,17.4,642.0,15.8
2,Alaska,39.0,7.0,21.0,3.7,35.0,6.1,24.0,4.1,28.0,...,37.0,6.1,34.0,5.6,20.0,3.3,29.0,5.1,30.0,4.9
3,Arizona,679.0,13.0,642.0,12.1,619.0,11.8,563.0,10.6,620.0,...,714.0,12.4,725.0,12.3,806.0,13.4,625.0,11.8,728.0,12.7
4,Arkansas,238.0,10.1,280.0,11.8,234.0,9.7,241.0,9.9,247.0,...,312.0,12.6,287.0,11.5,281.0,11.2,248.0,10.3,288.0,11.6

In [87]:
diag_all_avg = diag_all[['Geography','Avg_Cases_Before','Avg_Rate_Before','Avg_Cases_After','Avg_Rate_After']]
diag_all_avg.head()

,Geography,Avg_Cases_Before,Avg_Rate_Before,Avg_Cases_After,Avg_Rate_After
1,US,43390.0,17.0,39004.0,14.5
1,Alabama,687.0,17.4,642.0,15.8
2,Alaska,29.0,5.1,30.0,4.9
3,Arizona,625.0,11.8,728.0,12.7
4,Arkansas,248.0,10.3,288.0,11.6

In [91]:
diag_all_avg.to_csv('overall_diag_ba_avg.csv',index=False)

In [89]:
#Find the difference between Before and After
diag_all_diff =  diag_all_avg
diag_all_diff['Difference_Cases'] = diag_all_diff['Avg_Cases_Before'] - diag_all_diff['Avg_Cases_After']
diag_all_diff['Difference_Rates'] = diag_all_diff['Avg_Rate_Before'] - diag_all_diff['Avg_Rate_After']
diag_all_diff

/Users/MichelleW/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/MichelleW/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Geography,Avg_Cases_Before,Avg_Rate_Before,Avg_Cases_After,Avg_Rate_After,Difference_Cases,Difference_Rates
1,US,43390.0,17.0,39004.0,14.5,4386.0,2.5
1,Alabama,687.0,17.4,642.0,15.8,45.0,1.6
2,Alaska,29.0,5.1,30.0,4.9,-1.0,0.2
3,Arizona,625.0,11.8,728.0,12.7,-103.0,-0.9
4,Arkansas,248.0,10.3,288.0,11.6,-40.0,-1.3
5,California,5300.0,17.3,4887.0,15.1,413.0,2.2
6,Colorado,395.0,9.5,390.0,8.5,5.0,1.0
7,Connecticut,343.0,11.5,280.0,9.2,63.0,2.3
8,Delaware,135.0,18.1,109.0,13.7,26.0,4.4
9,District of Columbia,774.0,147.1,356.0,61.2,418.0,85.9
10,Florida,4877.0,30.6,4542.0,26.0,335.0,4.6
11,Georgia,2800.0,35.2,2492.0,29.4,308.0,5.8
12,Hawaii,87.0,7.7,89.0,7.5,-2.0,0.2
13,Idaho,43.0,3.4,36.0,2.7,7.0,0.7
14,Illinois,1691.0,15.9,1475.0,13.7,216.0,2.2
15,Indiana,474.0,8.9,513.0,9.3,-39.0,-0.4
16,Iowa,112.0,4.4,118.0,4.6,-6.0,-0.2
17,Kansas,143.0,6.1,142.0,5.9,1.0,0.2
18,Kentucky,340.0,9.4,350.0,9.4,-10.0,0.0
19,Louisiana,1113.0,29.9,1089.0,28.3,24.0,1.6
20,Maine,51.0,4.5,42.0,3.6,9.0,0.9
21,Maryland,1640.0,34.1,1135.0,22.6,505.0,11.5
22,Massachusetts,704.0,12.6,633.0,10.8,71.0,1.8
23,Michigan,780.0,9.4,749.0,8.9,31.0,0.5
24,Minnesota,331.0,7.5,294.0,6.4,37.0,1.1
25,Mississippi,487.0,20.1,464.0,18.8,23.0,1.3
26,Missouri,537.0,10.8,476.0,9.3,61.0,1.5
27,Montana,23.0,2.8,21.0,2.4,2.0,0.4
28,Nebraska,96.0,6.5,82.0,5.2,14.0,1.3
29,Nevada,373.0,17.0,474.0,19.6,-101.0,-2.6
...,...,...,...,...,...,...,...
3113,Aroostook County ME,0.0,0.0,0.0,0.0,0.0,0.0
3114,Armstrong County PA,0.0,0.0,0.0,0.0,0.0,0.0
3115,Arkansas County AR,NaN,NaN,NaN,NaN,NaN,NaN
3116,Anson County NC,NaN,NaN,5.0,22.8,NaN,NaN
3117,Andrews County TX,0.0,0.0,0.0,0.0,0.0,0.0
3118,Andrew County MO,0.0,0.0,0.0,0.0,0.0,0.0
3119,Anderson County KY,NaN,NaN,NaN,NaN,NaN,NaN
3120,Anchorage Municipality AK,NaN,NaN,NaN,NaN,NaN,NaN
3121,Amherst County VA,0.0,0.0,0.0,0.0,0.0,0.0
3122,Amador County CA,0.0,0.0,0.0,0.0,0.0,0.0
3123,Alpena County MI,0.0,0.0,0.0,0.0,0.0,0.0
3124,Allen Parish LA,6.0,28.1,2.0,11.6,4.0,16.5
3125,Allen County KY,NaN,NaN,NaN,NaN,NaN,NaN
3126,Alleghany County VA,0.0,0.0,0.0,0.0,0.0,0.0
3127,Allegany County NY,0.0,0.0,0.0,0.0,0.0,0.0
3128,Allegany County MD,6.0,9.8,5.0,7.9,1.0,1.9
3129,Allegan County MI,NaN,NaN,7.0,7.3,NaN,NaN
3130,Alexander County NC,0.0,0.0,0.0,0.0,0.0,0.0
3131,Aleutians West Census Area AK,NaN,NaN,NaN,NaN,NaN,NaN
3132,Aleutians East Borough AK,NaN,NaN,NaN,NaN,NaN,NaN
3133,Alcorn County MS,NaN,NaN,6.0,19.3,NaN,NaN
3134,Albany County WY,0.0,0.0,0.0,0.0,0.0,0.0
3135,Alamosa County CO,0.0,0.0,0.0,0.0,0.0,0.0
3136,Adams County WA,0.0,0.0,0.0,0.0,0.0,0.0
3137,Adams County PA,8.0,9.3,7.0,8.0,1.0,1.3
3138,Adams County NE,0.0,0.0,0.0,0.0,0.0,0.0
3139,Adams County ID,0.0,0.0,0.0,0.0,0.0,0.0
3140,Adair County KY,NaN,NaN,NaN,NaN,NaN,NaN
3141,Accomack County VA,0.0,0.0,4.0,16.1,-4.0,-16.1
3142,Abbeville County SC,NaN,NaN,5.0,23.7,NaN,NaN

In [92]:
diag_all_diff.to_csv('overall_diag_ba_diff.csv')