In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
case_files = glob.glob("Resources/Raw/*.csv")
case_files

['Resources/Raw/Diag_National.csv',
 'Resources/Raw/Diag_County.csv',
 'Resources/Raw/Diag_State.csv']

In [3]:
#Can't use a loop to read in csv's because they are uneven (specifically the county csv)
national_df = pd.read_csv('Resources/Raw/Diag_National.csv')
state_df = pd.read_csv('Resources/Raw/Diag_State.csv')
county_df = pd.read_csv('Resources/Raw/Diag_County.csv')
county_df.head()

,Indicator,Year,State,County,Geography,FIPS,Age Group,Race/Ethnicity,Sex,Transmission Category,Cases,Rate per 100000,Population
0,HIV diagnoses,2018,SC,Abbeville County,"Abbeville County, SC",45001,Ages 13 years and older,All races/ethnicities,Both sexes,All transmission categories,Data suppressed,Data suppressed,NaN
1,HIV diagnoses,2017,SC,Abbeville County,"Abbeville County, SC",45001,Ages 13 years and older,All races/ethnicities,Both sexes,All transmission categories,Data suppressed,Data suppressed,NaN
2,HIV diagnoses,2016,SC,Abbeville County,"Abbeville County, SC",45001,Ages 13 years and older,All races/ethnicities,Both sexes,All transmission categories,Data suppressed,Data suppressed,NaN
3,HIV diagnoses,2015,SC,Abbeville County,"Abbeville County, SC",45001,Ages 13 years and older,All races/ethnicities,Both sexes,All transmission categories,Data suppressed,Data suppressed,NaN
4,HIV diagnoses,2014,SC,Abbeville County,"Abbeville County, SC",45001,Ages 13 years and older,All races/ethnicities,Both sexes,All transmission categories,5,23.7,"21,075"

In [4]:
nat_df = national_df.iloc[:,[1,2,10]]
st_df = state_df.iloc[:,[1,2,10]]
cty_df = county_df.iloc[:,[1,4,12]]
# nat_df.head()
# st_df.head()
cty_df.head()

   Year             Geography Population
0  2018  Abbeville County, SC        NaN
1  2017  Abbeville County, SC        NaN
2  2016  Abbeville County, SC        NaN
3  2015  Abbeville County, SC        NaN
4  2014  Abbeville County, SC     21,075

In [23]:
national_piv = nat_df.pivot(index='Geography',columns='Year', values='Population')
national_piv['Type'] = 'National'
national_piv

Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Type
Geography,,,,,,,,,,,,
United States,"251,009,998","253,253,138","256,390,428","258,666,188","261,032,045","263,356,005","265,732,678","268,005,522","270,301,427","272,460,904","274,605,948",National

In [19]:
state_piv = st_df.pivot(index='Geography',columns='Year', values='Population')
state_piv['Type'] = 'State'
state_piv.head()

Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Type
Geography,,,,,,,,,,,,
Alabama,"3,870,996","3,898,688","3,980,625","3,997,493","4,019,335","4,041,871","4,059,211","4,070,748","4,082,972","4,094,777","4,109,359",State
Alaska,"559,346","565,800","577,749","584,567","592,771","599,385","599,474","600,941","604,157","603,161","602,095",State
Arizona,"5,235,123","5,316,387","5,229,908","5,304,658","5,388,365","5,469,060","5,567,140","5,663,944","5,770,861","5,874,596","5,996,296",State
Arkansas,"2,357,363","2,374,089","2,407,988","2,426,548","2,438,682","2,449,550","2,459,895","2,470,760","2,482,955","2,495,932","2,508,847",State
California,"29,836,645","30,167,113","30,753,805","31,068,145","31,393,072","31,722,579","32,069,627","32,390,164","32,663,036","32,888,662","33,089,613",State

In [21]:
county_piv = cty_df.pivot(index='Geography',columns='Year', values='Population')
county_piv['Type'] = 'County'
county_piv.head()

Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Type
Geography,,,,,,,,,,,,
"Abbeville County, SC",NaN,NaN,NaN,NaN,NaN,NaN,"21,075",NaN,NaN,NaN,NaN,County
"Acadia Parish, LA","48,028","48,081","49,736","49,793",NaN,"50,280","50,651","50,733","50,906","50,783","50,606",County
"Accomack County, VA",NaN,NaN,"28,124",NaN,NaN,"27,945","27,964","27,904","27,910",NaN,NaN,County
"Ada County, ID","306,746","311,241","317,604","325,159","332,649","340,146","349,356","356,854","368,126","379,392","391,848",County
"Adair County, IA","6,349","6,286","6,470","6,383","6,342","6,262","6,235","6,063","5,935","5,984","5,993",County

In [27]:
total_concat = pd.concat([national_piv, state_piv, county_piv])
total_concat.head()

Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Type
Geography,,,,,,,,,,,,
United States,"251,009,998","253,253,138","256,390,428","258,666,188","261,032,045","263,356,005","265,732,678","268,005,522","270,301,427","272,460,904","274,605,948",National
Alabama,"3,870,996","3,898,688","3,980,625","3,997,493","4,019,335","4,041,871","4,059,211","4,070,748","4,082,972","4,094,777","4,109,359",State
Alaska,"559,346","565,800","577,749","584,567","592,771","599,385","599,474","600,941","604,157","603,161","602,095",State
Arizona,"5,235,123","5,316,387","5,229,908","5,304,658","5,388,365","5,469,060","5,567,140","5,663,944","5,770,861","5,874,596","5,996,296",State
Arkansas,"2,357,363","2,374,089","2,407,988","2,426,548","2,438,682","2,449,550","2,459,895","2,470,760","2,482,955","2,495,932","2,508,847",State

In [47]:
total_df = total_concat.reset_index()
total_df = total_df.rename(columns={'Geography':'Name','Type':'Type',2008:'Pop_08',2009:'Pop_09',2010:'Pop_10',
                            2011:'Pop_11',2012:'Pop_12',2013:'Pop_13',2014:'Pop_14',2015:'Pop_15',
                           2016:'Pop_16',2017:'Pop_17',2018:'Pop_18'})
total_df.head()

Year,Name,Pop_08,Pop_09,Pop_10,Pop_11,Pop_12,Pop_13,Pop_14,Pop_15,Pop_16,Pop_17,Pop_18,Type
0,United States,"251,009,998","253,253,138","256,390,428","258,666,188","261,032,045","263,356,005","265,732,678","268,005,522","270,301,427","272,460,904","274,605,948",National
1,Alabama,"3,870,996","3,898,688","3,980,625","3,997,493","4,019,335","4,041,871","4,059,211","4,070,748","4,082,972","4,094,777","4,109,359",State
2,Alaska,"559,346","565,800","577,749","584,567","592,771","599,385","599,474","600,941","604,157","603,161","602,095",State
3,Arizona,"5,235,123","5,316,387","5,229,908","5,304,658","5,388,365","5,469,060","5,567,140","5,663,944","5,770,861","5,874,596","5,996,296",State
4,Arkansas,"2,357,363","2,374,089","2,407,988","2,426,548","2,438,682","2,449,550","2,459,895","2,470,760","2,482,955","2,495,932","2,508,847",State

In [48]:
all_pops = total_df
all_pops['Pop_08'] = all_pops['Pop_08'].str.replace(',','').astype(float)
all_pops['Pop_09'] = all_pops['Pop_09'].str.replace(',','').astype(float)
all_pops['Pop_10'] = all_pops['Pop_10'].str.replace(',','').astype(float)
all_pops['Pop_11'] = all_pops['Pop_11'].str.replace(',','').astype(float)
all_pops['Pop_12'] = all_pops['Pop_12'].str.replace(',','').astype(float)
all_pops['Pop_13'] = all_pops['Pop_13'].str.replace(',','').astype(float)
all_pops['Pop_14'] = all_pops['Pop_14'].str.replace(',','').astype(float)
all_pops['Pop_15'] = all_pops['Pop_15'].str.replace(',','').astype(float)
all_pops['Pop_16'] = all_pops['Pop_16'].str.replace(',','').astype(float)
all_pops['Pop_18'] = all_pops['Pop_18'].str.replace(',','').astype(float)
all_pops.head()

Year,Name,Pop_08,Pop_09,Pop_10,Pop_11,Pop_12,Pop_13,Pop_14,Pop_15,Pop_16,Pop_17,Pop_18,Type
0,United States,251009998.0,253253138.0,256390428.0,258666188.0,261032045.0,263356005.0,265732678.0,268005522.0,270301427.0,"272,460,904",274605948.0,National
1,Alabama,3870996.0,3898688.0,3980625.0,3997493.0,4019335.0,4041871.0,4059211.0,4070748.0,4082972.0,"4,094,777",4109359.0,State
2,Alaska,559346.0,565800.0,577749.0,584567.0,592771.0,599385.0,599474.0,600941.0,604157.0,"603,161",602095.0,State
3,Arizona,5235123.0,5316387.0,5229908.0,5304658.0,5388365.0,5469060.0,5567140.0,5663944.0,5770861.0,"5,874,596",5996296.0,State
4,Arkansas,2357363.0,2374089.0,2407988.0,2426548.0,2438682.0,2449550.0,2459895.0,2470760.0,2482955.0,"2,495,932",2508847.0,State
5,California,29836645.0,30167113.0,30753805.0,31068145.0,31393072.0,31722579.0,32069627.0,32390164.0,32663036.0,"32,888,662",33089613.0,State
6,Colorado,4049693.0,4120964.0,4152382.0,4220896.0,4290960.0,4367984.0,4447355.0,4542949.0,4632063.0,"4,710,781",4791744.0,State
7,Connecticut,2932812.0,2951882.0,3013777.0,3029649.0,3043910.0,3054288.0,3061978.0,3061946.0,3060226.0,"3,060,949",3065086.0,State
8,Delaware,728265.0,736007.0,752949.0,760646.0,768406.0,777619.0,786714.0,795441.0,803341.0,"811,576",821504.0,State
9,District of Columbia,508021.0,515989.0,530795.0,541801.0,552642.0,564030.0,572788.0,582251.0,590875.0,"596,785",601238.0,State
10,Florida,15508944.0,15614290.0,16018609.0,16258521.0,16480031.0,16709125.0,16983458.0,17305349.0,17658611.0,"17,971,716",18271712.0,State
11,Georgia,7826920.0,7937181.0,7912814.0,8003157.0,8106476.0,8187895.0,8288270.0,8397538.0,8516944.0,"8,627,633",8737682.0,State
12,Hawaii,1077785.0,1083032.0,1144087.0,1155908.0,1168924.0,1180667.0,1187196.0,1193935.0,1200302.0,"1,198,339",1196330.0,State
13,Idaho,1223541.0,1238079.0,1256890.0,1270672.0,1283965.0,1301066.0,1320877.0,1339988.0,1369107.0,"1,402,234",1436081.0,State
14,Illinois,10563388.0,10626004.0,10623897.0,10668059.0,10704446.0,10744121.0,10759859.0,10756428.0,10743318.0,"10,731,215",10713681.0,State
15,Indiana,5246323.0,5279967.0,5340692.0,5371451.0,5399958.0,5436314.0,5466488.0,5483619.0,5510511.0,"5,540,003",5574116.0,State
16,Iowa,2486127.0,2496048.0,2526684.0,2543043.0,2553591.0,2570198.0,2585119.0,2595775.0,2605250.0,"2,617,029",2630539.0,State
17,Kansas,2290014.0,2305964.0,2329143.0,2340115.0,2356616.0,2367607.0,2377652.0,2388086.0,2393712.0,"2,397,743",2403453.0,State
18,Kentucky,3559663.0,3583570.0,3610828.0,3632735.0,3652563.0,3673716.0,3686449.0,3699491.0,3712013.0,"3,728,831",3744646.0,State
19,Louisiana,3648291.0,3680921.0,3737428.0,3766665.0,3793129.0,3819669.0,3839337.0,3858097.0,3871344.0,"3,868,605",3864525.0,State
20,Maine,1129848.0,1130458.0,1137673.0,1140816.0,1142956.0,1145689.0,1150000.0,1149501.0,1153307.0,"1,157,986",1162948.0,State
21,Maryland,4697010.0,4733633.0,4830144.0,4877694.0,4924611.0,4962705.0,4994516.0,5021726.0,5039003.0,"5,060,236",5079641.0,State
22,Massachusetts,5531920.0,5580663.0,5573257.0,5622961.0,5676159.0,5730770.0,5785038.0,5821545.0,5857445.0,"5,899,032",5941124.0,State
23,Michigan,8335602.0,8324039.0,8247420.0,8271309.0,8304912.0,8337871.0,8369488.0,8383578.0,8409723.0,"8,441,967",8468998.0,State
24,Minnesota,4327416.0,4358038.0,4388574.0,4422318.0,4453587.0,4489740.0,4524856.0,4553008.0,4589546.0,"4,631,396",4672696.0,State
25,Mississippi,2389085.0,2397287.0,2429159.0,2439866.0,2449062.0,2460749.0,2467100.0,2468675.0,2472164.0,"2,479,041",2481945.0,State
26,Missouri,4934901.0,4962937.0,4977086.0,4996001.0,5016085.0,5039202.0,5059205.0,5076572.0,5094029.0,"5,117,892",5139738.0,State
27,Montana,813046.0,818891.0,831037.0,837028.0,843229.0,851634.0,858974.0,866602.0,875704.0,"887,128",896526.0,State
28,Nebraska,1457464.0,1467198.0,1494005.0,1503223.0,1514247.0,1525123.0,1537771.0,1547705.0,1560378.0,"1,571,827",1583601.0,State
29,Nevada,2118616.0,2141833.0,2223329.0,2237368.0,2271241.0,2303590.0,2343130.0,2386830.0,2432399.0,"2,480,508",2536932.0,State
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3164,"Wyoming County, WV",NaN,19733.0,20114.0,19875.0,19686.0,19522.0,19209.0,NaN,18582.0,"18,216",NaN,County
3165,"Wythe County, VA",NaN,NaN,NaN,24995.0,NaN,NaN,NaN,NaN,NaN,"24,865",24824.0,County
3166,"Yadkin County, NC",NaN,31438.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County
3167,"Yakima County, WA",181209.0,184050.0,189864.0,190998.0,191508.0,NaN,192749.0,193686.0,194991.0,"195,813",197099.0,County
3168,"Yakutat City and Borough, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County
3169,"Yalobusha County, MS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County
3170,"Yamhill County, OR",NaN,NaN,NaN,NaN,82742.0,NaN,84149.0,84972.0,87554.0,NaN,NaN,County
3171,"Yancey County, NC",NaN,NaN,15341.0,NaN,15232.0,15202.0,15226.0,15282.0,NaN,"15,461",15658.0,County
3172,"Yankton County, SD",NaN,NaN,NaN,19006.0,19113.0,19161.0,19248.0,19216.0,NaN,"19,200",NaN,County
3173,"Yates County, NY",20576.0,20576.0,21122.0,21240.0,21234.0,21164.0,21144.0,21120.0,21056.0,NaN,20939.0,County
3174,"Yavapai County, AZ",184879.0,185991.0,NaN,183512.0,184952.0,187729.0,NaN,194071.0,197897.0,"201,510",205530.0,County
3175,"Yazoo County, MS",23131.0,22880.0,23065.0,23190.0,23324.0,23099.0,22988.0,NaN,NaN,"23,884",23791.0,County
3176,"Yell County, AR",NaN,NaN,17946.0,NaN,NaN,NaN,NaN,NaN,NaN,"17,743",NaN,County
3177,"Yellow Medicine County, MN",8356.0,8296.0,8705.0,8606.0,8457.0,8409.0,8340.0,8206.0,8240.0,"8,186",NaN,County
3178,"Yellowstone County, MT",NaN,119864.0,122940.0,124066.0,125443.0,NaN,NaN,129498.0,NaN,"131,853",132880.0,County
3179,"Yoakum County, TX",5763.0,5784.0,6024.0,6112.0,NaN,NaN,6387.0,6532.0,6535.0,"6,504",6541.0,County
3180,"Yolo County, CA",164151.0,166435.0,168821.0,169771.0,172334.0,174091.0,175919.0,179132.0,182378.0,"185,219",187207.0,County
3181,"York County, ME",172481.0,172987.0,168369.0,169597.0,170604.0,171741.0,NaN,174077.0,NaN,"177,468",NaN,County
3182,"York County, NE",11739.0,11562.0,NaN,11558.0,NaN,NaN,11584.0,11451.0,NaN,"11,431",NaN,County
3183,"York County, PA",356153.0,359044.0,363623.0,365404.0,366886.0,368771.0,370573.0,371923.0,373922.0,"375,790",378347.0,County
3184,"York County, SC",179834.0,185607.0,185175.0,188281.0,191888.0,196182.0,201447.0,206741.0,212864.0,"219,867",226765.0,County
3185,"York County, VA",NaN,51059.0,NaN,NaN,NaN,55134.0,NaN,56527.0,NaN,"56,725",NaN,County
3186,"Young County, TX",14451.0,14550.0,15287.0,15168.0,NaN,15186.0,15147.0,15045.0,14957.0,NaN,14939.0,County
3187,"Yuba County, CA",NaN,57293.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County
3188,"Yukon-Koyukuk Census Area, AK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County
3189,"Yuma County, AZ",151901.0,154607.0,157875.0,163346.0,163348.0,163717.0,165494.0,166969.0,169049.0,"171,047",173166.0,County
3190,"Yuma County, CO",7759.0,NaN,NaN,8136.0,NaN,8149.0,NaN,8071.0,NaN,"8,052",NaN,County
3191,"Zapata County, TX",NaN,NaN,10524.0,NaN,NaN,10760.0,10777.0,10833.0,10818.0,NaN,10721.0,County
3192,"Zavala County, TX",NaN,8909.0,9091.0,NaN,9341.0,9491.0,9566.0,9602.0,9496.0,"9,440",9427.0,County
3193,"Ziebach County, SD",1996.0,2034.0,1987.0,2048.0,2096.0,2102.0,2132.0,2193.0,2240.0,"2,218",2241.0,County

In [49]:
all_pops_df = all_pops[['Name','Type','Pop_08','Pop_09','Pop_10','Pop_11','Pop_12','Pop_13','Pop_14','Pop_15',
                    'Pop_16','Pop_17','Pop_18',]]
all_pops_df.head()

Year,Name,Type,Pop_08,Pop_09,Pop_10,Pop_11,Pop_12,Pop_13,Pop_14,Pop_15,Pop_16,Pop_17,Pop_18
0,United States,National,251009998.0,253253138.0,256390428.0,258666188.0,261032045.0,263356005.0,265732678.0,268005522.0,270301427.0,"272,460,904",274605948.0
1,Alabama,State,3870996.0,3898688.0,3980625.0,3997493.0,4019335.0,4041871.0,4059211.0,4070748.0,4082972.0,"4,094,777",4109359.0
2,Alaska,State,559346.0,565800.0,577749.0,584567.0,592771.0,599385.0,599474.0,600941.0,604157.0,"603,161",602095.0
3,Arizona,State,5235123.0,5316387.0,5229908.0,5304658.0,5388365.0,5469060.0,5567140.0,5663944.0,5770861.0,"5,874,596",5996296.0
4,Arkansas,State,2357363.0,2374089.0,2407988.0,2426548.0,2438682.0,2449550.0,2459895.0,2470760.0,2482955.0,"2,495,932",2508847.0

In [50]:
all_pops_df.to_csv('overall_pop.csv', index=False)