In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
case_files = glob.glob("Resources/*.csv")
case_files

['Resources/Diag_Race_National_CandR.csv',
 'Resources/Diag_Race_County_CandR.csv',
 'Resources/Diag_Race_State_CandR.csv']

In [4]:
#read in csv's to use
diag_race_nat_cr = pd.read_csv('Resources/Diag_Race_National_CandR.csv')
diag_race_st_cr = pd.read_csv('Resources/Diag_Race_State_CandR.csv')
diag_race_cnty_cr = pd.read_csv('Resources/Diag_Race_County_CandR.csv')
#'Raw' data
# diag_nat = pd.read_csv('Resources/Raw/Diag_Race_National.csv')
# diag_st_ = pd.read_csv('Resources/Raw/Diag_Race_State.csv')
# diag_cnty_ = pd.read_csv('Resources/Raw/Diag_Race_County.csv')
diag_race_nat_cr['Geography'] = 'US'
diag_race_nat_cr

,2008,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Geography
0,American Indian/Alaska Native,NaN,Asian,NaN,Black/African American,NaN,Hispanic/Latino,NaN,Multiple races,NaN,...,NaN,Hispanic/Latino,NaN,Multiple races,NaN,Native Hawaiian/Other Pacific Islander,NaN,White,NaN,US
1,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,...,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,US
2,147,7.9,659,6,"21,719",72.5,"9,820",28.3,"2,327",82.1,...,47.5,"9,664",20.9,881,18.7,69,14.4,"9,606",5.6,US