In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [11]:
diag_age_files = sorted(glob.glob("*.csv"))
diag_age_files

['Diag_Age_County_CandR.csv',
 'Diag_Age_National_CandR.csv',
 'Diag_Age_State_CandR.csv']

In [15]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_age_files:
    diag_age_df = pd.read_csv(f)
    #Rename columns 
    diag_age_df = diag_age_df.rename(columns={'2008':'13_14Diag_08','Unnamed: 2':'13_14DiagRate_08','Unnamed: 3':'25_34Diag_08','Unnamed: 4':'25_34DiagRate_08','Unnamed: 5':'35_44Diag_08','Unnamed: 6':'35_44Diag_08','Unnamed: 7':'45_54DiagRate_08','Unnamed: 8':'45_54DiagRate_08','Unnamed: 9':'55+Diag_08','Unnamed: 10':'55+DiagRate_08',
                                           '2009':'13_14Diag_09','Unnamed: 12':'13_14DiagRate_09','Unnamed: 13':'25_34Diag_09','Unnamed: 14':'25_34DiagRate_09','Unnamed: 15':'35_44Diag_09','Unnamed: 16':'35_44Diag_09','Unnamed: 17':'45_54DiagRate_09','Unnamed: 18':'45_54DiagRate_09','Unnamed: 19':'55+Diag_09','Unnamed: 20':'55+DiagRate_09',
                                           '2010':'13_14Diag_10','Unnamed: 22':'13_14DiagRate_10','Unnamed: 23':'25_34Diag_10','Unnamed: 24':'25_34DiagRate_10','Unnamed: 25':'35_44Diag_10','Unnamed: 26':'35_44Diag_10','Unnamed: 27':'45_54DiagRate_10','Unnamed: 28':'45_54DiagRate_10','Unnamed: 29':'55+Diag_10','Unnamed: 30':'55+DiagRate_10',
                                           '2011':'13_14Diag_11','Unnamed: 32':'13_14DiagRate_11','Unnamed: 33':'25_34Diag_11','Unnamed: 34':'25_34DiagRate_11','Unnamed: 35':'35_44Diag_11','Unnamed: 36':'35_44Diag_11','Unnamed: 37':'45_54DiagRate_11','Unnamed: 38':'45_54DiagRate_11','Unnamed: 39':'55+Diag_11','Unnamed: 40':'55+DiagRate_11',
                                           '2012':'13_14Diag_12','Unnamed: 42':'13_14DiagRate_12','Unnamed: 43':'25_34Diag_12','Unnamed: 44':'25_34DiagRate_12','Unnamed: 45':'35_44Diag_12','Unnamed: 46':'35_44Diag_12','Unnamed: 47':'45_54DiagRate_12','Unnamed: 48':'45_54DiagRate_12','Unnamed: 49':'55+Diag_12','Unnamed: 50':'55+DiagRate_12',
                                           '2013':'13_14Diag_13','Unnamed: 52':'13_14DiagRate_13','Unnamed: 53':'25_34Diag_13','Unnamed: 54':'25_34DiagRate_13','Unnamed: 55':'35_44Diag_13','Unnamed: 56':'35_44Diag_13','Unnamed: 57':'45_54DiagRate_13','Unnamed: 58':'45_54DiagRate_13','Unnamed: 59':'55+Diag_13','Unnamed: 60':'55+DiagRate_13',
                                           '2014':'13_14Diag_14','Unnamed: 62':'13_14DiagRate_14','Unnamed: 63':'25_34Diag_14','Unnamed: 64':'25_34DiagRate_14','Unnamed: 65':'35_44Diag_14','Unnamed: 66':'35_44Diag_14','Unnamed: 67':'45_54DiagRate_14','Unnamed: 68':'45_54DiagRate_14','Unnamed: 69':'55+Diag_14','Unnamed: 70':'55+DiagRate_14',
                                           '2015':'13_14Diag_15','Unnamed: 72':'13_14DiagRate_15','Unnamed: 73':'25_34Diag_15','Unnamed: 74':'25_34DiagRate_15','Unnamed: 75':'35_44Diag_15','Unnamed: 76':'35_44Diag_15','Unnamed: 77':'45_54DiagRate_15','Unnamed: 78':'45_54DiagRate_15','Unnamed: 79':'55+Diag_15','Unnamed: 80':'55+DiagRate_15',
                                           '2016':'13_14Diag_16','Unnamed: 82':'13_14DiagRate_16','Unnamed: 83':'25_34Diag_16','Unnamed: 84':'25_34DiagRate_16','Unnamed: 85':'35_44Diag_16','Unnamed: 86':'35_44Diag_16','Unnamed: 87':'45_54DiagRate_16','Unnamed: 88':'45_54DiagRate_16','Unnamed: 89':'55+Diag_16','Unnamed: 80':'55+DiagRate_16',
                                           '2017':'13_14Diag_17','Unnamed: 92':'13_14DiagRate_17','Unnamed: 93':'25_34Diag_17','Unnamed: 94':'25_34DiagRate_17','Unnamed: 95':'35_44Diag_17','Unnamed: 96':'35_44Diag_17','Unnamed: 97':'45_54DiagRate_17','Unnamed: 98':'45_54DiagRate_17','Unnamed: 99':'55+Diag_17','Unnamed: 100':'55+DiagRate_17',
                                           '2018':'13_14Diag_18','Unnamed: 102':'13_14DiagRate_18','Unnamed: 103':'25_34Diag_18','Unnamed: 104':'25_34DiagRate_18','Unnamed: 105':'35_44Diag_18','Unnamed: 106':'35_44Diag_18','Unnamed: 107':'45_54DiagRate_18','Unnamed: 108':'45_54DiagRate_18','Unnamed: 109':'55+Diag_18','Unnamed: 110':'55+DiagRate_18'
                                               })
    diag_age_df = diag_age_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_age_df = diag_age_df.apply(lambda x: parsed(x))
    if i>1:
        diag_age_df1 = diag_age_df
    elif i>0:
        diag_age_df2 = diag_age_df
    else:
        diag_age_df0 = diag_age_df
    i = i + 1

# print(diag_race_df0.head())
# print(diag_race_df1.head())
# print(diag_race_df2.head())
diag_age_data = pd.concat([diag_age_df2,diag_age_df1,diag_age_df0])
diag_age_data.head()

,Geography,13_14Diag_08,13_14DiagRate_08,25_34Diag_08,25_34DiagRate_08,35_44Diag_08,35_44Diag_08,45_54DiagRate_08,45_54DiagRate_08,55+Diag_08,...,13_14Diag_18,13_14DiagRate_18,25_34Diag_18,25_34DiagRate_18,35_44Diag_18,35_44Diag_18,45_54DiagRate_18,45_54DiagRate_18,55+Diag_18,55+DiagRate_18
2,US,8577,16.8,12538,30.6,12630,29.9,9385,21.2,4160,...,7734,15.1,13322,29.2,7158,17.3,5282,12.7,3790,4
2,Alabama,168,21.4,185,30.3,165,26.5,143,21.3,48,...,182,23.8,192,29.8,87,14.7,70,11.2,41,2.8
3,Alaska,5,3.7,11,10.7,10,10.8,11,10.4,2,...,5,4.2,6,5,3,3.2,4,4.5,2,1.1
4,Arizona,110,10.4,213,22.5,203,23.3,117,13.8,36,...,153,13.3,298,30.2,167,19,102,12,86,4
5,Arkansas,47,10,69,18,57,15.3,44,11.1,21,...,77,16.1,103,26,48,13,34,9.2,19,2.1

In [17]:
diag_age_data.to_csv('diag_age.csv',index=False)