Overall Deaths

In [2]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
death_all_files = glob.glob("Resources/Death_All*.csv")
death_all_files

['Resources/Death_All_State.csv', 'Resources/Death_All_National.csv']

In [5]:
#Check data is reading in and how it looks
death_test = pd.read_csv('Resources/Death_All_National.csv')
# death_test = pd.read_csv('Resources/Death_All_State')

death_test.head()
# ddeath_test.columns

    Indicator  Year      Geography  FIPS   Cases  Rate per 100000   Population
0  HIV deaths  2017  United States   NaN  15,969              5.9  272,460,904
1  HIV deaths  2016  United States   NaN  16,334              6.0  270,301,427
2  HIV deaths  2015  United States   NaN  15,859              5.9  268,005,522
3  HIV deaths  2014  United States   NaN  16,148              6.1  265,732,678
4  HIV deaths  2013  United States   NaN  15,917              6.0  263,356,005

In [8]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_all_files:
    death_all_df = pd.read_csv(f)
    #Shorten and rename columns
    death_all_df = death_all_df.rename(columns={'Year':'Year','Geography':'Full Name', 'Cases':'All Deaths','Rate per 100000':'All Death Rates'
    })

    death_all_df = death_all_df.replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_all_df = death_all_df.apply(lambda x: parsed(x))
    death_all_df['Year'] = death_all_df['Year'].apply(lambda x: parsed(x))
    if i>0:
        death_all_df0 = death_all_df
    else:
        death_all_df1 = death_all_df
    i = i + 1

# Concat all the df's together into one
death_all_data = pd.concat([death_all_df0,death_all_df1]).reset_index(drop=True)
death_all_data.head()

,Indicator,Year,Full Name,FIPS,All Deaths,All Death Rates,Population
0,HIV deaths,2017,United States,NaN,15969,5.9,272460904
1,HIV deaths,2016,United States,NaN,16334,6.0,270301427
2,HIV deaths,2015,United States,NaN,15859,5.9,268005522
3,HIV deaths,2014,United States,NaN,16148,6.1,265732678
4,HIV deaths,2013,United States,NaN,15917,6.0,263356005

In [9]:
death_all_data.to_csv('Output/death_all.csv',index=False)

Death DATA by Age

In [10]:
death_age_files = sorted(glob.glob("Resources/Death_Age*.csv"))
death_age_files

['Resources/Death_Age_National_CandR.csv',
 'Resources/Death_Age_State_CandR.csv']

In [11]:
#Check data is reading in and how it looks
# death_age_test = pd.read_csv('Resources/Death_Age_National_CandR.csv')
death_age_test = pd.read_csv('Resources/Death_Age_State_CandR.csv')

death_age_test.head()
# death_age_test.columns

,Year,Geography,13-24,Unnamed: 3,25-34,Unnamed: 5,35-44,Unnamed: 7,45-54,Unnamed: 9,55+,Unnamed: 11
0,NaN,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
1,2008.0,Alabama,4,0.5,36,5.9,80,12.8,116,17.3,52,4.4
2,2008.0,Alaska,0,0,2,1.9,4,4.3,10,9.4,5,4
3,2008.0,Arizona,1,0.1,22,2.3,67,7.7,96,11.4,47,3.1
4,2008.0,Arkansas,2,0.4,20,5.2,33,8.9,34,8.6,24,3.3

In [12]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_age_files:
    death_age_df = pd.read_csv(f)
    #Rename columns 
    death_age_df = death_age_df.rename(columns={'Year':'Year','Geography':'Full Name','13-24':'13-24 Death Cases','Unnamed: 3':'13-24 Death Rates',
                                              '25-34':'25-34 Death Cases','Unnamed: 5':'25-34 Death Rates',
                                              '35-44':'35-44 Death Cases','Unnamed: 7':'35-44 Death Rates',
                                              '45-54':'45-54 Death Cases','Unnamed: 9':'45-54 Death Rates',
                                              '55+':'55+ Death Cases','Unnamed: 11':'55+ Death Rates'
    })
    death_age_df = death_age_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_age_df = death_age_df.apply(lambda x: parsed(x))
    death_age_df['Year'] = death_age_df['Year'].apply(lambda x: parsed(x))
    if i>0:
        death_age_df1 = death_age_df
    else:
        death_age_df0 = death_age_df
    i = i + 1

death_age_data = pd.concat([death_age_df0,death_age_df1]).reset_index(drop=True)
death_age_data.head()

,Year,Full Name,13-24 Death Cases,13-24 Death Rates,25-34 Death Cases,25-34 Death Rates,35-44 Death Cases,35-44 Death Rates,45-54 Death Cases,45-54 Death Rates,55+ Death Cases,55+ Death Rates
0,2008,United States,248,0.5,1425,3.5,4592,10.9,6868,15.5,5411,7.5
1,2009,United States,229,0.4,1352,3.3,4005,9.6,6638,14.9,5840,7.9
2,2010,United States,239,0.5,1165,2.8,3237,7.9,6260,13.9,5873,7.6
3,2011,United States,229,0.4,1096,2.6,2879,7.1,5939,13.3,6188,7.8
4,2012,United States,195,0.4,1107,2.6,2560,6.3,5694,12.9,6478,7.9

In [13]:
death_age_data.to_csv('Output/diag_age.csv',index=False)

Death DATA by Race

In [14]:
death_race_files = glob.glob("Resources/Death_Race*.csv")
death_race_files

['Resources/Death_Race_State_CandR.csv',
 'Resources/Death_Race_National_CandR.csv']

In [16]:
#Check data is reading in and how it looks
# diag_race_test = pd.read_csv('Resources/Death_Race_National_CandR.csv')
death_race_test = pd.read_csv('Resources/Death_Race_State_CandR.csv')


death_race_test.head()
# death_race_test.columns

,Year,Geography,American Indian/Alaska Native,Unnamed: 3,Asian,Unnamed: 5,Black/African American,Unnamed: 7,Hispanic/Latino,Unnamed: 9,Multiple races,Unnamed: 11,Native Hawaiian/Other Pacific Islander,Unnamed: 13,White,Unnamed: 15
0,NaN,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
1,2008.0,Alabama,0,0,2,5.4,191,19.4,9,9.6,11,36.3,0,0,75,2.8
2,2008.0,Alaska,10,12.6,0,0,1,4.9,1,3.3,0,0,0,0,9,2.4
3,2008.0,Arizona,11,5.3,1,0.8,23,12.7,65,4.6,4,7,0,0,129,4
4,2008.0,Arkansas,0,0,0,0,53,15.1,2,1.8,5,20.7,0,0,53,2.9

In [17]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_race_files:
    death_race_df = pd.read_csv(f)
    #Shorten and rename columns (for usability) American Indian/Alaska Native=AI_AN, Asian, Black/African American=Black, Hispanic/Latino=Latino, Multiple races=Multi, Native Hawaiian/Other Pacific Islander=NH_OPI, White
    death_race_df = death_race_df.rename(columns={'Year':'Year','Geography':'Full Name','American Indian/Alaska Native':'AI_AN Death Cases','Unnamed: 3':'AI_AN Death Rates',
                                                'Asian':'Asian Death Cases','Unnamed: 5':'Asian Death Rates',
                                                'Black/African American':'Black Death Cases','Unnamed: 7':'Black Death Rates',
                                                'Hispanic/Latino':'Latino Death Cases','Unnamed: 9':'Latino Death Rates',
                                                'Multiple races':'Multi Death Cases','Unnamed: 11':'Multi Death Rates',
                                                'Native Hawaiian/Other Pacific Islander':'NH_OPI Death Cases','Unnamed: 13':'NH_OPI Death Rates',
                                                'White':'White Death Cases','Unnamed: 15':'White Death Rates',
                                               })

    death_race_df = death_race_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_race_df = death_race_df.apply(lambda x: parsed(x))
    death_race_df['Year'] = death_race_df['Year'].apply(lambda x: parsed(x))
    if i>0:
        death_race_df0 = death_race_df
    else:
        death_race_df1 = death_race_df
    i = i + 1

# print(diag_race_df0.head())
# print(diag_race_df1.head())
# print(diag_race_df2.head())
death_race_data = pd.concat([death_race_df0,death_race_df1]).reset_index(drop=True)
death_race_data.head()

,Year,Full Name,AI_AN Death Cases,AI_AN Death Rates,Asian Death Cases,Asian Death Rates,Black Death Cases,Black Death Rates,Latino Death Cases,Latino Death Rates,Multi Death Cases,Multi Death Rates,NH_OPI Death Cases,NH_OPI Death Rates,White Death Cases,White Death Rates
0,2008,United States,85,4.6,104,0.9,9413,31.4,2869,8.3,722,25.5,14,4,5335,3.1
1,2009,United States,65,3.4,75,0.7,9046,29.9,2817,7.9,877,30,7,2,5176,3
2,2010,United States,73,4,69,0.6,8096,26.4,2637,6.9,883,24.8,6,1.5,5006,3
3,2011,United States,57,3.1,83,0.6,7766,25,2687,6.9,851,23.1,7,1.7,4878,2.9
4,2012,United States,54,2.9,72,0.5,7537,23.9,2455,6.1,889,23.2,7,1.7,4999,2.9

In [18]:
death_race_data.to_csv('Output/death_race.csv',index=False)

Death DATA by Transmission

In [19]:
death_tran_files = sorted(glob.glob("Resources/Death_Tran*.csv"))
death_tran_files

['Resources/Death_Tran_National_C.csv', 'Resources/Death_Tran_State_C.csv']

In [20]:
#Check data is reading in and how it looks
death_tran_test = pd.read_csv('Resources/Death_Tran_National_C.csv')
# death_tran_test = pd.read_csv('Resources/Death_Tran_State_C.csv')

death_tran_test.head()
# death_tran_test.columns

,Year,Geography,Heterosexual contact,Injection drug use,Male-to-male sexual contact,Male-to-male sexual contact and injection drug use,Other
0,NaN,NaN,Cases,Cases,Cases,Cases,Cases
1,2008.0,United States,"4,912","5,205","6,767","1,449",210
2,2009.0,United States,"4,705","4,947","6,719","1,504",189
3,2010.0,United States,"4,431","4,405","6,410","1,353",174
4,2011.0,United States,"4,288","4,180","6,330","1,334",200

In [21]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_tran_files:
    death_tran_df = pd.read_csv(f)
    #Shorten and Rename columns Heterosexual contact=M2F   Injection drug use=ID   Male-to-male sexual contact=M2M   Male-to-male sexual contact and injection drug use=M2MID   Other=O
    death_tran_df = death_tran_df.rename(columns={'Year':'Year', 'Geography':'Full Name',
                                                'Heterosexual contact':'M2F Death Cases',
                                                'Injection drug use':'ID Death Cases',
                                                'Male-to-male sexual contact':'M2M Death Cases',
                                                'Male-to-male sexual contact and injection drug use':'M2MID Death Cases',
                                                'Other':'O Death Cases'
                                               })
    death_tran_df = death_tran_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_tran_df = death_tran_df.apply(lambda x: parsed(x))
    death_tran_df['Year'] = death_tran_df['Year'].apply(lambda x: parsed(x))
    if i>0:
        death_tran_df1 = death_tran_df
    else:
        death_tran_df0 = death_tran_df
    i = i + 1


death_tran_data = pd.concat([death_tran_df0,death_tran_df1]).reset_index(drop=True)
death_tran_data.head()

,Year,Full Name,M2F Death Cases,ID Death Cases,M2M Death Cases,M2MID Death Cases,O Death Cases
0,2008,United States,4912,5205,6767,1449,210
1,2009,United States,4705,4947,6719,1504,189
2,2010,United States,4431,4405,6410,1353,174
3,2011,United States,4288,4180,6330,1334,200
4,2012,United States,4299,3965,6285,1290,194

In [22]:
death_tran_data.to_csv('Output/death_tran.csv',index=False)

DEATH DATA by Gender

In [23]:
death_sex_files = glob.glob("Resources/Death_Sex*.csv")
death_sex_files

['Resources/Death_Sex_National_CandR.csv',
 'Resources/Death_Sex_State_CandR.csv']

In [24]:
#Check data is reading in and how it looks
death_sex_test = pd.read_csv('Resources/Death_Sex_National_CandR.csv')
# death_sex_test = pd.read_csv('Resources/Death_Sex_State_CandR.csv')

death_sex_test.head()
# death_sex_test.columns

     Year      Geography Female       Unnamed: 3    Male       Unnamed: 5
0     NaN            NaN  Cases  Rate per 100000   Cases  Rate per 100000
1  2008.0  United States  4,956              3.9  13,588             11.1
2  2009.0  United States  4,773              3.7  13,291             10.7
3  2010.0  United States  4,384              3.3  12,390              9.9
4  2011.0  United States  4,240              3.2  12,091              9.6

In [25]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_sex_files:
    death_sex_df = pd.read_csv(f)
    #Shorten and Rename columns Heterosexual contact=M2F   Injection drug use=ID   Male-to-male sexual contact=M2M   Male-to-male sexual contact and injection drug use=M2MID   Other=O
    death_sex_df = death_sex_df.rename(columns={'Year':'Year','Geography':'Full Name',
                                              'Female':'F Diag Cases','Unnamed: 3':'F Diag Rates',
                                              'Male':'M Diag Cases','Unnamed: 5':'M Diag Rates',
                                               })
    death_sex_df = death_sex_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_sex_df = death_sex_df.apply(lambda x: parsed(x))
    death_sex_df['Year'] = death_sex_df['Year'].apply(lambda x: parsed(x))
    if i>0:
        death_sex_df1 = death_sex_df
    else:
        death_sex_df0 = death_sex_df
    i = i + 1


death_sex_data = pd.concat([death_sex_df0,death_sex_df1]).reset_index(drop=True)
death_sex_data.head()

   Year      Full Name F Diag Cases F Diag Rates M Diag Cases M Diag Rates
0  2008  United States         4956          3.9        13588         11.1
1  2009  United States         4773          3.7        13291         10.7
2  2010  United States         4384          3.3        12390          9.9
3  2011  United States         4240          3.2        12091          9.6
4  2012  United States         4222          3.2        11812          9.3

In [26]:
death_sex_data.to_csv('Output/death_sex.csv',index=False)

Merge all Death Data Files into one 'master_death.csv'

In [28]:
death_all_data = death_all_data[['Indicator','Year','Full Name','FIPS','Population','All Deaths','All Death Rates']]
death_all_data.head()

,Indicator,Year,Full Name,FIPS,Population,All Deaths,All Death Rates
0,HIV deaths,2017,United States,NaN,272460904,15969,5.9
1,HIV deaths,2016,United States,NaN,270301427,16334,6.0
2,HIV deaths,2015,United States,NaN,268005522,15859,5.9
3,HIV deaths,2014,United States,NaN,265732678,16148,6.1
4,HIV deaths,2013,United States,NaN,263356005,15917,6.0

In [29]:
death_merge = pd.merge(death_all_data, death_sex_data, how='outer', on=['Year','Full Name'])
death_merge1 = pd.merge(death_merge, death_age_data, how='outer', on=['Year','Full Name'])
death_merge2 = pd.merge(death_merge1, death_race_data, how='outer', on=['Year','Full Name'])
death_master_data = pd.merge(death_merge2, death_tran_data, how='outer', on=['Year','Full Name'])
death_master_data.head()

,Indicator,Year,Full Name,FIPS,Population,All Deaths,All Death Rates,F Diag Cases,F Diag Rates,M Diag Cases,...,Multi Death Rates,NH_OPI Death Cases,NH_OPI Death Rates,White Death Cases,White Death Rates,M2F Death Cases,ID Death Cases,M2M Death Cases,M2MID Death Cases,O Death Cases
0,HIV deaths,2017,United States,NaN,272460904,15969,5.9,3902,2.8,12067,...,23.3,8,1.7,5122,3,4163,3451,6855,1327,174
1,HIV deaths,2016,United States,NaN,270301427,16334,6.0,4006,2.9,12328,...,23.3,14,3,5312,3.1,4226,3661,6883,1387,177
2,HIV deaths,2015,United States,NaN,268005522,15859,5.9,3901,2.8,11958,...,24.1,7,1.6,5048,3,4065,3638,6575,1402,180
3,HIV deaths,2014,United States,NaN,265732678,16148,6.1,4183,3.1,11965,...,24.2,9,2,5023,2.9,4241,3869,6538,1346,153
4,HIV deaths,2013,United States,NaN,263356005,15917,6.0,4066,3,11851,...,24.4,10,2.3,4871,2.9,4133,3878,6401,1335,169

In [30]:
death_master_data.to_csv('Output/master_death.csv',index=False)