<h1>Other HIV Data and Information</h1>

In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

#Config variables
from config import remote_db_endpoint, remote_db_port
from config import remote_hiv_dbname, remote_hiv_dbuser, remote_hiv_dbpwd
# from config import local_hiv_dbuser, local_hiv_dbpwd, local_db_endpoint, local_db_port, local_hiv_dbname

Create engine to pass in Cloud MySQL Database Connection on AWS

In [2]:
#Cloud MySQL Database Connection on AWS
engine = create_engine(f'mysql://{remote_hiv_dbuser}:{remote_hiv_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_hiv_dbname}')

In [3]:
#Create a remote database engine connection
conn = engine.connect()

<h2>Prep Data</h2>

In [5]:
prep_files = pd.read_csv('Output/master_prep.csv')
prep_files.head()

,GEO ID,State Abbreviation,Full Name,Year,PrEP Users,PrEP Rates,Male PrEP Users,Male PrEP Rate,Female PrEP Users,Female PrEP Rate,Age LE 24 PrEP Users,Age LE 24 PrEP Rate,Age 25-34 PrEP Users,Age 25-34 PrEP Rate,Age 35-44 PrEP Users,Age 35-44 PrEP Rate,Age 45-54 PrEP Users,Age 45-54 PrEP Rate,Age 55+ PrEP Users,Age 55+ PrEP Rate
0,NaN,US,United States,2012,8768,3.3,4804,3.7,3964,2.9,1449,2.7,2770,6.5,2005,4.9,1618,3.6,908,1.1
1,1.0,AL,Alabama,2012,63,2.0,35,2.0,28,1.0,7,1.0,17,3.0,13,2.0,16,2.0,9,1.0
2,2.0,AK,Alaska,2012,8,1.0,6,2.0,2,1.0,-1,-1.0,2,2.0,2,2.0,2,2.0,2,1.0
3,4.0,AZ,Arizona,2012,171,3.0,89,3.0,82,3.0,23,2.0,54,6.0,40,5.0,33,4.0,22,1.0
4,5.0,AR,Arkansas,2012,41,2.0,18,2.0,23,2.0,7,1.0,12,3.0,12,3.0,6,2.0,4,0.0

<h3>Load dataframe to database on AWS</h3>
Went into MySQL Workbench to change data types for columns to increase efficiency.

In [6]:
# Dataframe to SQL (is there a way to say append if not already present)
prep_files.to_sql(name='prep_data', if_exists='replace', con=conn, chunksize=500, index=False)

In [7]:
remote_prep_data = pd.read_sql("SELECT * FROM prep_data", conn)
print(len(remote_prep_data))
remote_prep_data.head()

364

,GEO ID,State Abbreviation,Full Name,Year,PrEP Users,PrEP Rates,Male PrEP Users,Male PrEP Rate,Female PrEP Users,Female PrEP Rate,Age LE 24 PrEP Users,Age LE 24 PrEP Rate,Age 25-34 PrEP Users,Age 25-34 PrEP Rate,Age 35-44 PrEP Users,Age 35-44 PrEP Rate,Age 45-54 PrEP Users,Age 45-54 PrEP Rate,Age 55+ PrEP Users,Age 55+ PrEP Rate
0,NaN,US,United States,2012,8768,3.3,4804,3.7,3964,2.9,1449,2.7,2770,6.5,2005,4.9,1618,3.6,908,1.1
1,1.0,AL,Alabama,2012,63,2.0,35,2.0,28,1.0,7,1.0,17,3.0,13,2.0,16,2.0,9,1.0
2,2.0,AK,Alaska,2012,8,1.0,6,2.0,2,1.0,-1,-1.0,2,2.0,2,2.0,2,2.0,2,1.0
3,4.0,AZ,Arizona,2012,171,3.0,89,3.0,82,3.0,23,2.0,54,6.0,40,5.0,33,4.0,22,1.0
4,5.0,AR,Arkansas,2012,41,2.0,18,2.0,23,2.0,7,1.0,12,3.0,12,3.0,6,2.0,4,0.0

<h2>Estimates Data</h2>

<h2>Providers Data</h2>