In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

A quick note even though some column headers say total estimate population, it is a percentage of that age group(per ACS website)

In [13]:
#Check all the csv's
files = sorted(glob.glob("Resources/*.csv"))
files

['Resources/edu_attn_08.csv',
 'Resources/edu_attn_09.csv',
 'Resources/edu_attn_10.csv',
 'Resources/edu_attn_11.csv',
 'Resources/edu_attn_12.csv',
 'Resources/edu_attn_13.csv',
 'Resources/edu_attn_14.csv',
 'Resources/edu_attn_15.csv',
 'Resources/edu_attn_16.csv',
 'Resources/edu_attn_17.csv',
 'Resources/edu_attn_18.csv',
 'Resources/location_data.csv']

In [57]:
st_ed_df = pd.read_csv('Resources/location_data.csv')
st_ed_df.head()

         Name
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [15]:

files = files[0:11]
files

['Resources/edu_attn_08.csv',
 'Resources/edu_attn_09.csv',
 'Resources/edu_attn_10.csv',
 'Resources/edu_attn_11.csv',
 'Resources/edu_attn_12.csv',
 'Resources/edu_attn_13.csv',
 'Resources/edu_attn_14.csv',
 'Resources/edu_attn_15.csv',
 'Resources/edu_attn_16.csv',
 'Resources/edu_attn_17.csv',
 'Resources/edu_attn_18.csv']

In [62]:
ed_df_test = pd.read_csv('Resources/edu_attn_18.csv')
ed_df_test = ed_df_test.iloc[1:]

ed_df_test['New'] = ed_df_test[(ed_df_test.iloc[:,2].astype(int)) + (ed_df_test.iloc[:,433].astype(int))]
# ed_df_test = ed_df_test.iloc[:,[1,2,16,433,523]]
# st_ed_df = ed_df_loc.rename(columns={'GEO.display-label':'Name','HC01_EST_VC01':f'Tot pop 18-24 08',
#                                       'HC01_EST_VC02':f'% No HSD 18-24 08','HC01_EST_VC06':f'Tot pop 25+ 08',
#                                       'HC01_EST_VC14':f'% HSD+ 25+ 08'})


# st_ed_df.head()
ed_df_test.head()

KeyError: "None of [Int64Index([   553978,   1089852,   8086762,   4748726,  10159443,   7831650,\n              1454382,   3318125,    444641,  30571507,   2280808,   2837599,\n             21302361,   1308838,   4704363,   1615191,   3798766,   5260635,\n               510772,   2345172,   1442607,   2986759,   4541463,   2601143,\n              2206359,   6648045,    585363,   6957515,   9099006,   3979718,\n              8016182,   4428826,   1117236,    667772,   5124821,   3460621,\n              3562393,   5873652,   9885278,   2422756,   1098330,    853407,\n              2309865,    764021,   4309132,    832340,   5529647,  17071450,\n              5535023,    575241,   2229274,  15477524, 253815197],\n           dtype='int64')] are in the [columns]"

In [49]:
print(ed_df_test.iloc[0,2])

Estimate!!Total!!Population 18 to 24 years!!Less than high school graduate

In [58]:
years = ['08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18']
y=0
for f in files:
    ed_df = pd.read_csv(f)
    
    if y > 9:    
        ed_df = ed_df.iloc[:,[1,2,16,433,523]]
        ed_df = ed_df.rename(columns={'NAME':'Name','S1501_C01_001E':f'Tot pop 18-24 {years[y]}',
                                        'S1501_C01_002E':f'% No HSD 18-24 {years[y]}','S1501_C01_006E':f'Tot pop 25+ {years[y]}',
                                      'S1501_C02_014E':f'% HSD+ 25+ {years[y]}'}) 
    
    elif y > 6:    
        ed_df = ed_df.iloc[:,[2,3,17,63,161]]
        ed_df = ed_df.rename(columns={'GEO.display-label':'Name','HC01_EST_VC02':f'Tot pop 18-24 {years[y]}',
                                      'HC02_EST_VC03':f'% No HSD 18-24 {years[y]}','HC01_EST_VC08':f'Tot pop 25+ {years[y]}',
                                      'HC02_EST_VC17':f'% HSD+ 25+ {years[y]}'})    
    
    elif y > 1:
        ed_df = ed_df.iloc[:,[2,3,9,33,81]]
        ed_df = ed_df.rename(columns={'GEO.display-label':'Name','HC01_EST_VC01':f'Tot pop 18-24 {years[y]}',
                                      'HC01_EST_VC02':f'% No HSD 18-24 {years[y]}','HC01_EST_VC07':f'Tot pop 25+ {years[y]}',
                                      'HC01_EST_VC16':f'% HSD+ 25+ {years[y]}'})
#         ed_df = ed_df.iloc[1:].reset_index()

    
    else: #y == 0 or 1:
        ed_df = ed_df.iloc[:,[2,3,9,33,81]]
        ed_df = ed_df.rename(columns={'GEO.display-label':'Name','HC01_EST_VC01':f'Tot pop 18-24 {years[y]}',
                                      'HC01_EST_VC02':f'% No HSD 18-24 {years[y]}','HC01_EST_VC06':f'Tot pop 25+ {years[y]}',
                                      'HC01_EST_VC14':f'% HSD+ 25+ {years[y]}'})
#         ed_df = ed_df.iloc[1:].reset_index()


    
    st_ed_df = pd.merge(st_ed_df, ed_df, how='left', on='Name',sort=False)    
    print(ed_df.columns)
    y = y + 1

st_ed_df.head()

Index(['Name', 'Tot pop 18-24 08', '% No HSD 18-24 08', 'Tot pop 25+ 08',
       '% HSD+ 25+ 08'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 09', '% No HSD 18-24 09', 'Tot pop 25+ 09',
       '% HSD+ 25+ 09'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 10', '% No HSD 18-24 10', 'Tot pop 25+ 10',
       '% HSD+ 25+ 10'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 11', '% No HSD 18-24 11', 'Tot pop 25+ 11',
       '% HSD+ 25+ 11'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 12', '% No HSD 18-24 12', 'Tot pop 25+ 12',
       '% HSD+ 25+ 12'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 13', '% No HSD 18-24 13', 'Tot pop 25+ 13',
       '% HSD+ 25+ 13'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 14', '% No HSD 18-24 14', 'Tot pop 25+ 14',
       '% HSD+ 25+ 14'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 15', '% No HSD 18-24 15', 'Tot pop 25+ 15',
       '% HSD+ 25+ 15'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 16', '% No HSD 18-24 16', 'Tot pop 25+ 16',
       '% HSD+ 25+ 16'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 17', '% No HSD 18-24 17', 'Tot pop 25+ 17',
       '% HSD+ 25+ 17'],
      dtype='object')
Index(['Name', 'Tot pop 18-24 18', '% No HSD 18-24 18', 'Tot pop 25+ 18',
       '% HSD+ 25+ 18'],
      dtype='object')

,Name,Tot pop 18-24 08,% No HSD 18-24 08,Tot pop 25+ 08,% HSD+ 25+ 08,Tot pop 18-24 09,% No HSD 18-24 09,Tot pop 25+ 09,% HSD+ 25+ 09,Tot pop 18-24 10,...,Tot pop 25+ 16,% HSD+ 25+ 16,Tot pop 18-24 17,% No HSD 18-24 17,Tot pop 25+ 17,% HSD+ 25+ 17,Tot pop 18-24 18,% No HSD 18-24 18,Tot pop 25+ 18,% HSD+ 25+ 18
0,Alabama,462191,20.2,3078499,81.9,466551,19,3115982,82.1,488349,...,3300713,85.1,471079,13.5,3309607,86.5,461302,61166,3337464,86.6
1,Alaska,80633,19.6,424901,91.6,83783,18.5,431178,91.4,75023,...,478951,93.1,73053,14.3,481561,91.7,68625,7863,485353,93.3
2,Arizona,599953,22.6,4192547,83.8,615683,20.4,4248231,84.2,634568,...,4626409,86.7,672180,16.3,4711362,87.2,689343,105767,4840304,87.5
3,Arkansas,279652,18.7,1872814,82,277809,16.7,1903914,82.4,291054,...,1990448,86,287448,13.3,2008398,86.7,287926,34446,2021939,87.2
4,California,3865493,18.3,23528476,80.2,3744453,17.4,23782109,80.6,3944934,...,26304241,82.4,3799994,10.5,26679273,83.3,3755863,390520,26815644,83.8

In [ ]:
ed_file_08 = pd.read_csv('Resources/edu_attn_08.csv')
ed_df_loc = ed_file_08.iloc[:,[2,3,9,33,81]]
st_ed_df = ed_df.rename(columns={'GEO.display-label':'Name','HC01_EST_VC01':f'Tot pop 18-24 {years[y]}',
                                      'HC01_EST_VC02':f'% No HSD 18-24 {years[y]}','HC01_EST_VC06':f'Tot pop 25+ {years[y]}',
                                      'HC01_EST_VC14':f'% HSD+ 25+ {years[y]}'})


st_ed_df.head()

In [ ]:
ed_file_08_loc = ed_file_08.iloc[:,[2,3,9,33,81]]
ed_file_08_loc.head()

In [ ]:
education_file.columns

In [ ]:
new_header = education_file.iloc[1]
education_file = education_file[3:] 
education_file.columns = new_header 
ed_df = education_file
ed_df.head()

In [ ]:
ed_target_yrs = ed_df.iloc[:,[0,5,7,9,10,11,12,13,14,15,16,17,18]].reset_index(drop=True)
ed_target_yrs.head()

In [ ]:
ed_target_yrs.rename(columns={ed_target_yrs.columns[0]:"Area"},inplace=True)
ed_target_yrs.head()

In [ ]:
# Drop rows where "Area" column is null
ed_drop = ed_target_yrs[pd.notnull(ed_target_yrs["Area"])].reset_index(drop=True)
ed_drop.head()

In [ ]:
ed_areas= ed_drop.loc[0:57].reset_index(drop=True)
ed_areas

In [ ]:
ed_areas["Area"] = ed_areas["Area"].str.rstrip(".")
ed_cleaned = ed_areas.replace(ed_areas.iloc[[15],[0]], "District of Columbia")
ed_cleaned

In [ ]:
ed_cleaned.to_csv("resources/education_clean.csv")