In [1]:
import pandas as pd
import numpy as np
import glob

In [3]:
edu_files = glob.glob_csv('Resources/*.csv')
print(edu_files)

['Resources/ACS_08_1YR_S1501_with_ann.csv', 'Resources/ACS_09_1YR_S1501_with_ann.csv', 'Resources/ACS_15_1YR_S1501_with_ann.csv', 'Resources/ACS_12_1YR_S1501_with_ann.csv', 'Resources/ACS_11_1YR_S1501_with_ann.csv', 'Resources/ACS_16_1YR_S1501_with_ann.csv', 'Resources/ACS_17_1YR_S1501_with_ann.csv', 'Resources/ACS_10_1YR_S1501_with_ann.csv', 'Resources/ACS_13_1YR_S1501_with_ann.csv', 'Resources/ACS_14_1YR_S1501_with_ann.csv', 'Resources/ACSST1Y2018.S1501_data_with_overlays_2020-02-08T100507.csv']

In [7]:
edu_file_08 = pd.read_csv('Resources/ACS_08_1YR_S1501_with_ann.csv')
edu_file_08.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC01_EST_VC02,...,HC02_EST_VC40,HC02_MOE_VC40,HC03_EST_VC40,HC03_MOE_VC40,HC01_EST_VC42,HC01_MOE_VC42,HC02_EST_VC42,HC02_MOE_VC42,HC03_EST_VC42,HC03_MOE_VC42
0,Id,Id2,Geography,Total; Estimate; Population 18 to 24 years,Total; Margin of Error; Population 18 to 24 years,Male; Estimate; Population 18 to 24 years,Male; Margin of Error; Population 18 to 24 years,Female; Estimate; Population 18 to 24 years,Female; Margin of Error; Population 18 to 24 y...,Total; Estimate; Population 18 to 24 years - L...,...,Male; Estimate; MEDIAN EARNINGS IN THE PAST 12...,Male; Margin of Error; MEDIAN EARNINGS IN THE ...,Female; Estimate; MEDIAN EARNINGS IN THE PAST ...,Female; Margin of Error; MEDIAN EARNINGS IN TH...,Total; Estimate; PERCENT IMPUTED - Educational...,Total; Margin of Error; PERCENT IMPUTED - Educ...,Male; Estimate; PERCENT IMPUTED - Educational ...,Male; Margin of Error; PERCENT IMPUTED - Educa...,Female; Estimate; PERCENT IMPUTED - Educationa...,Female; Margin of Error; PERCENT IMPUTED - Edu...
1,0400000US01,01,Alabama,462191,5041,233754,3809,228437,2870,20.2,...,75785,4397,48197,856,5.1,(X),(X),(X),(X),(X)
2,0400000US02,02,Alaska,80633,2630,46143,2016,34490,1474,19.6,...,71502,5800,48275,6481,3.0,(X),(X),(X),(X),(X)
3,0400000US04,04,Arizona,599953,3189,315122,1982,284831,2216,22.6,...,71211,1551,47922,1616,5.3,(X),(X),(X),(X),(X)
4,0400000US05,05,Arkansas,279652,4972,144975,3273,134677,3120,18.7,...,66174,4071,45970,1158,4.0,(X),(X),(X),(X),(X)

In [8]:
new_header = edu_file_08.iloc[0]
edu_file_08 = edu_file_08[1:] 
edu_file_08.columns = new_header 
ed_df_08 = edu_file_08
ed_df_08.head()

,Id,Id2,Geography,Total; Estimate; Population 18 to 24 years,Total; Margin of Error; Population 18 to 24 years,Male; Estimate; Population 18 to 24 years,Male; Margin of Error; Population 18 to 24 years,Female; Estimate; Population 18 to 24 years,Female; Margin of Error; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - Less than high school graduate,...,Male; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2008 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Male; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2008 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Female; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2008 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Female; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2008 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Total; Estimate; PERCENT IMPUTED - Educational attainment,Total; Margin of Error; PERCENT IMPUTED - Educational attainment,Male; Estimate; PERCENT IMPUTED - Educational attainment,Male; Margin of Error; PERCENT IMPUTED - Educational attainment,Female; Estimate; PERCENT IMPUTED - Educational attainment,Female; Margin of Error; PERCENT IMPUTED - Educational attainment
1,0400000US01,01,Alabama,462191,5041,233754,3809,228437,2870,20.2,...,75785,4397,48197,856,5.1,(X),(X),(X),(X),(X)
2,0400000US02,02,Alaska,80633,2630,46143,2016,34490,1474,19.6,...,71502,5800,48275,6481,3.0,(X),(X),(X),(X),(X)
3,0400000US04,04,Arizona,599953,3189,315122,1982,284831,2216,22.6,...,71211,1551,47922,1616,5.3,(X),(X),(X),(X),(X)
4,0400000US05,05,Arkansas,279652,4972,144975,3273,134677,3120,18.7,...,66174,4071,45970,1158,4.0,(X),(X),(X),(X),(X)
5,0400000US06,06,California,3865493,6602,2004426,4457,1861067,4202,18.3,...,90657,1076,61107,407,5.8,(X),(X),(X),(X),(X)

In [13]:
edu_totals_08 = ed_df_08.loc[:, (ed_df_08.columns.str.startswith('Total; Estimate; Population'))|
                            (ed_df_08.columns.str.startswith('Geography'))]
edu_totals_08.head()

,Geography,Total; Estimate; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - Less than high school graduate,Total; Estimate; Population 18 to 24 years - High school graduate (includes equivalency),Total; Estimate; Population 18 to 24 years - Some college or associate's degree,Total; Estimate; Population 18 to 24 years - Bachelor's degree or higher,Total; Estimate; Population 25 years and over,Total; Estimate; Population 25 years and over - Less than 9th grade,"Total; Estimate; Population 25 years and over - 9th to 12th grade, no diploma",Total; Estimate; Population 25 years and over - High school graduate (includes equivalency),...,Total; Estimate; Population 25 to 34 years - Bachelor's degree or higher,Total; Estimate; Population 35 to 44 years,Total; Estimate; Population 35 to 44 years - High school graduate or higher,Total; Estimate; Population 35 to 44 years - Bachelor's degree or higher,Total; Estimate; Population 45 to 64 years,Total; Estimate; Population 45 to 64 years - High school graduate or higher,Total; Estimate; Population 45 to 64 years - Bachelor's degree or higher,Total; Estimate; Population 65 years and over,Total; Estimate; Population 65 years and over - High school graduate or higher,Total; Estimate; Population 65 years and over - Bachelor's degree or higher
1,Alabama,462191,20.2,31.6,41.3,7.0,3078499,6.1,12.0,31.6,...,23.8,627804,87.1,24.6,1213521,85.3,23.3,638757,68.7,15.3
2,Alaska,80633,19.6,35.1,40.6,4.7,424901,3.0,5.4,26.5,...,23.8,96176,92.2,27.6,181186,93.7,29.8,48415,78.8,24.4
3,Arizona,599953,22.6,31.3,39.8,6.3,4192547,7.5,8.6,25.0,...,22.7,873435,83.0,25.9,1525602,87.5,27.6,864092,81.5,22.4
4,Arkansas,279652,18.7,34.9,40.5,5.9,1872814,6.9,11.1,35.4,...,20.0,377306,87.5,22.0,726011,84.8,19.3,404190,70.2,13.6
5,California,3865493,18.3,28.5,44.7,8.4,23528476,10.6,9.1,20.8,...,28.6,5372665,79.8,31.2,8822707,82.1,31.4,4115824,75.3,24.8

In [4]:
#Read in the files by looping through files and then appending to  a list
edu_dfs = [] 

for file in edu_files:
    edu_dfs.append(pd.read_csv(file))

In [6]:
#Concatanate income_dfs to one df
concat_edu_df = pd.concat(edu_dfs, ignore_index=False)

concat_edu_df.head()

/Users/MichelleW/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,GEO.display-label,GEO.id,GEO.id2,GEO_ID,HC01_EST_VC01,HC01_EST_VC02,HC01_EST_VC03,HC01_EST_VC04,HC01_EST_VC05,HC01_EST_VC06,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,Geography,Id,Id2,NaN,Total; Estimate; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - L...,Total; Estimate; Population 18 to 24 years - H...,Total; Estimate; Population 18 to 24 years - S...,Total; Estimate; Population 18 to 24 years - B...,Total; Estimate; Population 25 years and over,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,0400000US01,01,NaN,462191,20.2,31.6,41.3,7.0,3078499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,0400000US02,02,NaN,80633,19.6,35.1,40.6,4.7,424901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,0400000US04,04,NaN,599953,22.6,31.3,39.8,6.3,4192547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,0400000US05,05,NaN,279652,18.7,34.9,40.5,5.9,1872814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN