Need to find out if what the national and state level number of deaths for national & state

In [ ]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
#Check all the csv's
death_age_to_load = pd.read_csv('Resources/Death_Age_National_CandR.csv')
death_age_to_load

,2008,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2017,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99
0,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,NaN,...,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,NaN
1,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
2,248,0.5,"1,425",3.5,"4,592",10.9,"6,868",15.5,"5,411",7.5,...,147,0.3,"1,019",2.3,"1,789",4.4,"4,351",10.3,"8,663",9.3

In [5]:
death_age_rename = death_age_to_load.rename(columns={'2008':'Deaths 13-14 08', 'Unnamed: 1':'Death Rate 13-14 08', 'Unnamed: 2':'Deaths 25-34 08', 'Unnamed: 3':'Death Rate 25-34 08', 'Unnamed: 4':'Deaths 35-44 08','Unnamed: 5':'Death Rate 35-44 08', 'Unnamed: 6':'Deaths 45-54 08', 'Unnamed: 7':'Death Rate 45-54 08', 'Unnamed: 8':'Deats 55+ 08', 'Unnamed: 9':'Death Rate 55+ 08',
                                                     '2009':'Deaths 13-14 09', 'Unnamed: 11':'Death Rate 13-14 09','Unnamed: 12':'Deaths 25-34 09','Unnamed: 13':'Death Rate 25-34 09','Unnamed: 14':'Deaths 35-44 09','Unnamed: 15':'Death Rate 35-44 09','Unnamed: 16':'Deaths 45-54 09','Unnamed: 17':'Death Rate 45-54 09','Unnamed: 18':'Deats 55+ 09','Unnamed: 19':'Death Rate 55+ 09', 
                                                     '2010':'Deaths 13-14 10', 'Unnamed: 21':'Death Rate 13-14 10','Unnamed: 22':'Deaths 25-34 10','Unnamed: 23':'Death Rate 25-34 10','Unnamed: 24':'Deaths 35-44 10','Unnamed: 25':'Death Rate 35-44 10','Unnamed: 26':'Deaths 45-54 10','Unnamed: 27':'Death Rate 45-54 10','Unnamed: 28':'Deats 55+ 10','Unnamed: 29':'Death Rate 55+ 10', 
                                                     '2011':'Deaths 13-14 11', 'Unnamed: 31':'Death Rate 13-14 11','Unnamed: 32':'Deaths 25-34 11','Unnamed: 33':'Death Rate 25-34 11','Unnamed: 34':'Deaths 35-44 11','Unnamed: 35':'Death Rate 35-44 11','Unnamed: 36':'Deaths 45-54 11','Unnamed: 37':'Death Rate 45-54 11','Unnamed: 38':'Deats 55+ 11','Unnamed: 39':'Death Rate 55+ 11', 
                                                     '2012':'Deaths 13-14 12', 'Unnamed: 41':'Death Rate 13-14 12','Unnamed: 42':'Deaths 25-34 12','Unnamed: 43':'Death Rate 25-34 12','Unnamed: 44':'Deaths 35-44 12','Unnamed: 45':'Death Rate 35-44 12','Unnamed: 46':'Deaths 45-54 12','Unnamed: 47':'Death Rate 45-54 12','Unnamed: 48':'Deats 55+ 12','Unnamed: 49':'Death Rate 55+ 12', 
                                                     '2013':'Deaths 13-14 13', 'Unnamed: 51':'Death Rate 13-14 13','Unnamed: 52':'Deaths 25-34 13','Unnamed: 53':'Death Rate 25-34 13','Unnamed: 54':'Deaths 35-44 13','Unnamed: 55':'Death Rate 35-44 13','Unnamed: 56':'Deaths 45-54 13','Unnamed: 57':'Death Rate 45-54 13','Unnamed: 58':'Deats 55+ 13','Unnamed: 59':'Death Rate 55+ 13', 
                                                     '2014':'Deaths 13-14 14', 'Unnamed: 61':'Death Rate 13-14 14','Unnamed: 62':'Deaths 25-34 14','Unnamed: 63':'Death Rate 25-34 14','Unnamed: 64':'Deaths 35-44 14','Unnamed: 65':'Death Rate 35-44 14','Unnamed: 66':'Deaths 45-54 14','Unnamed: 67':'Death Rate 45-54 14','Unnamed: 68':'Deats 55+ 14','Unnamed: 69':'Death Rate 55+ 14', 
                                                     '2015':'Deaths 13-14 15', 'Unnamed: 71':'Death Rate 13-14 15','Unnamed: 72':'Deaths 25-34 15','Unnamed: 73':'Death Rate 25-34 15','Unnamed: 74':'Deaths 35-44 15','Unnamed: 75':'Death Rate 35-44 15','Unnamed: 76':'Deaths 45-54 15','Unnamed: 77':'Death Rate 45-54 15','Unnamed: 78':'Deats 55+ 15','Unnamed: 79':'Death Rate 55+ 15', 
                                                     '2016':'Deaths 13-14 16', 'Unnamed: 81':'Death Rate 13-14 16','Unnamed: 82':'Deaths 25-34 16','Unnamed: 83':'Death Rate 25-34 16','Unnamed: 84':'Deaths 35-44 16','Unnamed: 85':'Death Rate 35-44 16','Unnamed: 86':'Deaths 45-54 16','Unnamed: 87':'Death Rate 45-54 16','Unnamed: 88':'Deats 55+ 16','Unnamed: 89':'Death Rate 55+ 16', 
                                                     '2017':'Deaths 13-14 17', 'Unnamed: 91':'Death Rate 13-14 17','Unnamed: 92':'Deaths 25-34 17','Unnamed: 93':'Death Rate 25-34 17','Unnamed: 94':'Deaths 35-44 17','Unnamed: 95':'Death Rate 35-44 17', 'Unnamed: 96':'Deaths 45-54 17','Unnamed: 97':'Death Rate 45-54 17','Unnamed: 98':'Deats 55+ 17','Unnamed: 99':'Death Rate 55+ 17'})
death_age_rename

,Deaths 13-14 08,Death Rate 13-14 08,Deaths 25-34 08,Death Rate 25-34 08,Deaths 35-44 08,Death Rate 35-44 08,Deaths 45-54 08,Death Rate 45-54 08,Deats 55+ 08,Death Rate 55+ 08,...,Deaths 13-14 17,Death Rate 13-14 17,Deaths 25-34 17,Death Rate 25-34 17,Deaths 35-44 17,Death Rate 35-44 17,Deaths 45-54 17,Death Rate 45-54 17,Deats 55+ 17,Death Rate 55+ 17
0,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,NaN,...,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,NaN
1,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
2,248,0.5,"1,425",3.5,"4,592",10.9,"6,868",15.5,"5,411",7.5,...,147,0.3,"1,019",2.3,"1,789",4.4,"4,351",10.3,"8,663",9.3

In [6]:
death_age_rename.to_csv('death_age_nat.csv',index=False)

In [4]:
death_age_to_load.columns

Index(['2008', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       '2009', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', '2010', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', '2011', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', '2012', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', '2013',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', '2014', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'Unnamed: 69', '2015', 'Unnamed: 71', 'Unnamed: 72',
       'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
       'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', '2016', 'Unnamed: 81',
       'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85',
       'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', '2017',
       'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94',
       'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98',
       'Unnamed: 99'],
      dtype='object')

Deaths by Transmission

In [5]:
death_tran_files = glob.glob('*.csv')
death_tran_files

['Death_Transmission_National_CandR.csv', 'Death_Transmission_State.csv']

In [9]:
# death_test = pd.read_csv('Death_Transmission_National_CandR.csv')
death_test = pd.read_csv('Death_Transmission_State.csv')

death_test.head()
# death_test.columns

Index(['Geography', '2008', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '2009', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', '2010', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', '2011', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', '2012', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', '2013', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', '2014', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', '2015', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', '2016', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', '2017', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50'],
      dtype='object')

In [11]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in death_tran_files:
    death_tran_df = pd.read_csv(f)
    #Shorten and Rename columns Heterosexual contact=M2F   Injection drug use=ID   Male-to-male sexual contact=M2M   Male-to-male sexual contact and injection drug use=M2MID   Other=O
    death_tran_df = death_tran_df.rename(columns={'2008':'Death M2F 08', 'Unnamed: 2':'Death ID 08', 'Unnamed: 3':'Death M2M 08', 'Unnamed: 4':'Death M2MID 08','Unnamed: 5':'Death O 08', 
                                                '2009':'Death M2F 09', 'Unnamed: 7':'Death ID 09', 'Unnamed: 8':'Death M2M 09', 'Unnamed: 9':'Death M2MID 09','Unnamed: 10':'Death O 09', 
                                                '2010':'Death M2F 10', 'Unnamed: 12':'Death ID 10', 'Unnamed: 13':'Death M2M 10', 'Unnamed: 14':'Death M2MID 10','Unnamed: 15':'Death O 10', 
                                                '2011':'Death M2F 11', 'Unnamed: 17':'Death ID 11', 'Unnamed: 18':'Death M2M 11', 'Unnamed: 19':'Death M2MID 11','Unnamed: 20':'Death O 11', 
                                                '2012':'Death M2F 12', 'Unnamed: 22':'Death ID 12', 'Unnamed: 23':'Death M2M 12', 'Unnamed: 24':'Death M2MID 12','Unnamed: 25':'Death O 12', 
                                                '2013':'Death M2F 13', 'Unnamed: 27':'Death ID 13', 'Unnamed: 28':'Death M2M 13', 'Unnamed: 29':'Death M2MID 13','Unnamed: 30':'Death O 13', 
                                                '2014':'Death M2F 14', 'Unnamed: 32':'Death ID 14', 'Unnamed: 33':'Death M2M 14', 'Unnamed: 34':'Death M2MID 14','Unnamed: 35':'Death O 14', 
                                                '2015':'Death M2F 15', 'Unnamed: 37':'Death ID 15', 'Unnamed: 38':'Death M2M 15', 'Unnamed: 39':'Death M2MID 15','Unnamed: 40':'Death O 15', 
                                                '2016':'Death M2F 16', 'Unnamed: 42':'Death ID 16', 'Unnamed: 43':'Death M2M 16', 'Unnamed: 44':'Death M2MID 16','Unnamed: 45':'Death O 16', 
                                                '2017':'Death M2F 17', 'Unnamed: 47':'Death ID 17', 'Unnamed: 48':'Death M2M 17', 'Unnamed: 49':'Death M2MID 17','Unnamed: 50':'Death O 17',
                                               })
    death_tran_df = death_tran_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_tran_df = death_tran_df.apply(lambda x: parsed(x))
    if i>0:
        death_tran_df1 = death_tran_df
    else:
        death_tran_df0 = death_tran_df
    i = i + 1


death_tran_data = pd.concat([death_tran_df0,death_tran_df1])
death_tran_data.head()

,Geography,Death M2F 08,Death ID 08,Death M2M 08,Death M2MID 08,Death O 08,Death M2F 09,Death ID 09,Death M2M 09,Death M2MID 09,...,Death M2F 16,Death ID 16,Death M2M 16,Death M2MID 16,Death O 16,Death M2F 17,Death ID 17,Death M2M 17,Death M2MID 17,Death O 17
2,United States,4912,5205,6767,1449,210,4705,4947,6719,1504,...,4226,3661,6883,1387,177,4163,3451,6855,1327,174
2,Alabama,93,45,127,22,1,99,54,130,24,...,87,34,120,22,2,71,23,127,19,3
3,Alaska,6,6,8,1,0,4,3,6,0,...,4,1,7,1,0,1,4,3,0,0
4,Arizona,28,55,113,36,1,22,34,120,34,...,35,38,129,38,2,24,29,118,27,0
5,Arkansas,31,18,54,9,1,23,23,55,10,...,25,9,52,7,1,19,11,60,13,1

In [12]:
death_tran_df.to_csv('death_tran.csv',index=False)

Death by Race (only avaliable for National level need to find)

In [15]:
death_race_files = sorted(glob.glob("*.csv"))
death_race_files

['Death_Race_National_CandR.csv']

In [16]:
# death_test = pd.read_csv('Death_Transmission_National_CandR.csv')
death_test = pd.read_csv('Death_Race_National_CandR.csv')

death_test.head()
# death_test.columns

,Geography,2008,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
0,NaN,American Indian/Alaska Native,NaN,Asian,NaN,Black/African American,NaN,Hispanic/Latino,NaN,Multiple races,...,Black/African American,NaN,Hispanic/Latino,NaN,Multiple races,NaN,Native Hawaiian/Other Pacific Islander,NaN,White,NaN
1,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
2,United States,85,4.6,104,0.9,"9,413",31.4,"2,869",8.3,722,...,"7,048",21.1,"2,606",5.8,"1,061",23.3,8,1.7,"5,122",3

In [17]:
def parsed(x):
    try:
        return int(x)
    except:
        return x

for f in death_race_files:
    death_race_df = pd.read_csv(f)
    #Rename columns 
    #Shorten and rename columns (for usability) American Indian/Alaska Native=AI_AN, Asian, Black/African American=Black, Hispanic/Latino=Latino, Multiple races=Multi, Native Hawaiian/Other Pacific Islander=NH_OPI, White
    death_race_df = death_race_df.rename(columns={'2008':'AI_AN Cases 08','Unnamed: 2':'AI_AN Rate 08','Unnamed: 3':'Asian Cases 08','Unnamed: 4':'Asian Rate 08','Unnamed: 5':'Black Cases 08','Unnamed: 6':'Black Rate 08','Unnamed: 7':'Latino Cases 08','Unnamed: 8':'Latino Rate 08','Unnamed: 9':'Multi Cases 08','Unnamed: 10':'Multi Rate 08','Unnamed: 11':'NH_OPI Cases 08','Unnamed: 12':'NH_OPI Rate 08','Unnamed: 3':'White Cases 08','Unnamed: 14':'White Rate 08',
                                                    '2009':'AI_AN Cases 09','Unnamed: 16':'AI_AN Rate 09','Unnamed: 17':'Asian Cases 09','Unnamed: 18':'Asian Rate 09','Unnamed: 19':'Black Cases 09','Unnamed: 20':'Black Rate 09','Unnamed: 21':'Latino Cases 09','Unnamed: 22':'Latino Rate 09','Unnamed: 23':'Multi Cases 09','Unnamed: 24':'Multi Rate 09','Unnamed: 25':'NH_OPI Cases 09','Unnamed: 26':'NH_OPI Rate 09','Unnamed: 27':'White Cases 09','Unnamed: 28':'White Rate 09',
                                                    '2010':'AI_AN Cases 10','Unnamed: 30':'AI_AN Rate 10','Unnamed: 31':'Asian Cases 10','Unnamed: 32':'Asian Rate 10','Unnamed: 33':'Black Cases 10','Unnamed: 34':'Black Rate 10','Unnamed: 35':'Latino Cases 10','Unnamed: 36':'Latino Rate 10','Unnamed: 37':'Multi Cases 10','Unnamed: 38':'Multi Rate 10','Unnamed: 39':'NH_OPI Cases 10','Unnamed: 40':'NH_OPI Rate 10','Unnamed: 41':'White Cases 10','Unnamed: 42':'White Rate 10',
                                                    '2011':'AI_AN Cases 11','Unnamed: 44':'AI_AN Rate 11','Unnamed: 45':'Asian Cases 11','Unnamed: 46':'Asian Rate 11','Unnamed: 47':'Black Cases 11','Unnamed: 48':'Black Rate 11','Unnamed: 49':'Latino Cases 11','Unnamed: 50':'Latino Rate 11','Unnamed: 51':'Multi Cases 11','Unnamed: 52':'Multi Rate 11','Unnamed: 53':'NH_OPI Cases 11','Unnamed: 54':'NH_OPI Rate 11','Unnamed: 55':'White Cases 11','Unnamed: 56':'White Rate 11',
                                                    '2012':'AI_AN Cases 12','Unnamed: 58':'AI_AN Rate 12','Unnamed: 59':'Asian Cases 12','Unnamed: 60':'Asian Rate 12','Unnamed: 61':'Black Cases 12','Unnamed: 62':'Black Rate 12','Unnamed: 63':'Latino Cases 12','Unnamed: 64':'Latino Rate 12','Unnamed: 65':'Multi Cases 12','Unnamed: 66':'Multi Rate 12','Unnamed: 67':'NH_OPI Cases 12','Unnamed: 68':'NH_OPI Rate 12','Unnamed: 69':'White Cases 12','Unnamed: 70':'White Rate 12',
                                                    '2013':'AI_AN Cases 13','Unnamed: 72':'AI_AN Rate 13','Unnamed: 73':'Asian Cases 13','Unnamed: 74':'Asian Rate 13','Unnamed: 75':'Black Cases 13','Unnamed: 76':'Black Rate 13','Unnamed: 77':'Latino Cases 13','Unnamed: 78':'Latino Rate 13','Unnamed: 79':'Multi Cases 13','Unnamed: 80':'Multi Rate 13','Unnamed: 81':'NH_OPI Cases 13','Unnamed: 82':'NH_OPI Rate 13','Unnamed: 83':'White Cases 13','Unnamed: 84':'White Rate 13',
                                                    '2014':'AI_AN Cases 14','Unnamed: 86':'AI_AN Rate 14','Unnamed: 87':'Asian Cases 14','Unnamed: 88':'Asian Rate 14','Unnamed: 89':'Black Cases 14','Unnamed: 90':'Black Rate 14','Unnamed: 91':'Latino Cases 14','Unnamed: 92':'Latino Rate 14','Unnamed: 93':'Multi Cases 14','Unnamed: 94':'Multi Rate 14','Unnamed: 95':'NH_OPI Cases 14','Unnamed: 96':'NH_OPI Rate 14','Unnamed: 97':'White Cases 14','Unnamed: 98':'White Rate 14',
                                                    '2015':'AI_AN Cases 15','Unnamed: 100':'AI_AN Rate 15','Unnamed: 101':'Asian Cases 15','Unnamed: 102':'Asian Cases 15','Unnamed: 103':'Black Cases 15','Unnamed: 104':'Black Rate 15','Unnamed: 105':'Latino Cases 15','Unnamed: 106':'Latino Rate 15','Unnamed: 107':'Multi Cases 15','Unnamed: 108':'Multi Rate 15','Unnamed: 109':'NH_OPI Cases 15','Unnamed: 110':'NH_OPI Rate 15','Unnamed: 111':'White Cases 15','Unnamed: 112':'White Rate 15',
                                                    '2016':'AI_AN Cases 16','Unnamed: 114':'AI_AN Rate 16','Unnamed: 115':'Asian Cases 16','Unnamed: 116':'Asian Rate 16','Unnamed: 117':'Black Cases 16','Unnamed: 118':'Black Rate 16','Unnamed: 119':'Latino Cases 16','Unnamed: 120':'Latino Rate 16','Unnamed: 121':'Multi Cases 16','Unnamed: 122':'Multi Rate 16','Unnamed: 123':'NH_OPI Cases 16','Unnamed: 124':'NH_OPI Rate 16','Unnamed: 125':'White Cases 16','Unnamed: 126':'White Rate 16',
                                                    '2017':'AI_AN Cases 17','Unnamed: 128':'AI_AN Rate 17','Unnamed: 129':'Asian Cases 17','Unnamed: 130':'Asian Rate 17','Unnamed: 131':'Black Cases 17','Unnamed: 132':'Black Rate 17','Unnamed: 133':'Latino Cases 17','Unnamed: 134':'Latino Rate 17','Unnamed: 135':'Multi Cases 17','Unnamed: 136':'Multi Rate 17','Unnamed: 137':'NH_OPI Cases 17','Unnamed: 138':'NH_OPI Rate 17','Unnamed: 139':'White Cases 17','Unnamed: 140':'White Rate 17',
                                                    '2018':'AI_AN Cases 18','Unnamed: 142':'AI_AN Rate 18','Unnamed: 143':'Asian Cases 18','Unnamed: 144':'Asian Rate 18','Unnamed: 145':'Black Cases 18','Unnamed: 146':'Black Rate 18','Unnamed: 147':'Latino Cases 18','Unnamed: 148':'Latino Rate 18','Unnamed: 149':'Multi Cases 18','Unnamed: 150':'Multi Rate 18','Unnamed: 151':'NH_OPI Cases 18','Unnamed: 152':'NH_OPI Rate 18','Unnamed: 153':'White Cases 18','Unnamed: 154':'White Rate 18'
    })
    death_race_df = death_race_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    death_race_df = death_race_df.apply(lambda x: parsed(x))


death_race_data =death_race_df
death_race_data.head()

,Geography,AI_AN Cases 08,AI_AN Rate 08,White Cases 08,Asian Rate 08,Black Cases 08,Black Rate 08,Latino Cases 08,Latino Rate 08,Multi Cases 08,...,Black Cases 17,Black Rate 17,Latino Cases 17,Latino Rate 17,Multi Cases 17,Multi Rate 17,NH_OPI Cases 17,NH_OPI Rate 17,White Cases 17,White Rate 17
2,United States,85,4.6,104,0.9,9413,31.4,2869,8.3,722,...,7048,21.1,2606,5.8,1061,23.3,8,1.7,5122,3

In [18]:
death_race_data.to_csv('death_race_nat.csv',index=False)