Diagnosis Data

Overall Diagnosis

In [1]:
#Dependencies
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
diag_all_files = glob.glob("Resources/*All*.csv")
diag_all_files

['Resources/Diag_All_County.csv',
 'Resources/Diag_All_National.csv',
 'Resources/Diag_All_State.csv']

In [4]:
#Check data is reading in and how it looks
diag_test = pd.read_csv('Resources/Diag_All_National_CandR.csv')
# diag_test = pd.read_csv('Resources/Diag_All_State_CandR.csv')
# diag_test = pd.read_csv('Resources/Diag_All_County_CandR.csv')

diag_test.head()
# diag_test.columns

FileNotFoundError: [Errno 2] File b'Resources/Diag_All_National_CandR.csv' does not exist: b'Resources/Diag_All_National_CandR.csv'

In [57]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_all_files:
    diag_all_df = pd.read_csv(f)
    #Shorten and rename columns (for usability) American Indian/Alaska Native=AI_AN, Asian, Black/African American=Black, Hispanic/Latino=Latino, Multiple races=Multi, Native Hawaiian/Other Pacific Islander=NH_OPI, White
    diag_all_df = diag_all_df.rename(columns={'Geography':'Full Name','2008':'Diag 08','Unnamed: 2':'Diag Rate 08','2009':'Diag 09','Unnamed: 4':'Diag Rate 09',
                                           '2010':'Diag 10','Unnamed: 6':'Diag Rate 10','2011':'Diag 11','Unnamed: 8':'Diag Rate 11',
                                           '2012':'Diag 12','Unnamed: 10':'Diag Rate 12','2013':'Diag 13','Unnamed: 12':'Diag Rate 13',
                                           '2014':'Diag 14','Unnamed: 14':'Diag Rate 14','2015':'Diag 15','Unnamed: 16':'Diag Rate 15',
                                           '2016':'Diag 16','Unnamed: 18':'Diag Rate 16','2017':'Diag 17','Unnamed: 20':'Diag Rate 17',
                                           '2018':'Diag 18','Unnamed: 22':'Diag Rate 18'
    })

    diag_all_df = diag_all_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_all_df = diag_all_df.apply(lambda x: parsed(x))
    if i>1:
        diag_all_df1 = diag_all_df
    elif i>0:
        diag_all_df2 = diag_all_df
    else:
        diag_all_df0 = diag_all_df
    i = i + 1

# Concat all the df's together into one
diag_all_data = pd.concat([diag_all_df0,diag_all_df1,diag_all_df2]).reset_index(drop=True)
diag_all_data.head()

,Full Name,Diag 08,Diag Rate 08,Diag 09,Diag Rate 09,Diag 10,Diag Rate 10,Diag 11,Diag Rate 11,Diag 12,...,Diag 14,Diag Rate 14,Diag 15,Diag Rate 15,Diag 16,Diag Rate 16,Diag 17,Diag Rate 17,Diag 18,Diag Rate 18
0,United States,47290,18.8,44751,17.7,43067,16.8,41311,16,40529,...,39963,15,39796,14.8,39520,14.6,38226,14,37286,13.6
1,Alabama,709,18.3,695,17.8,681,17.1,683,17.1,666,...,669,16.5,663,16.3,663,16.2,651,15.9,572,13.9
2,Alaska,39,7,21,3.7,35,6.1,24,4.1,28,...,38,6.3,25,4.2,37,6.1,34,5.6,20,3.3
3,Arizona,679,13,642,12.1,619,11.8,563,10.6,620,...,741,13.3,690,12.2,714,12.4,725,12.3,806,13.4
4,Arkansas,238,10.1,280,11.8,234,9.7,241,9.9,247,...,312,12.7,273,11,312,12.6,287,11.5,281,11.2

In [58]:
diag_all_data.to_csv('Output/overall_diagnosis.csv',index=False)

DIAGNOSIS DATA by Age

In [59]:
diag_age_files = sorted(glob.glob("Resources/*Age*.csv"))
diag_age_files

['Resources/Diag_Age_County_CandR.csv',
 'Resources/Diag_Age_National_CandR.csv',
 'Resources/Diag_Age_State_CandR.csv']

In [60]:
#Check data is reading in and how it looks
diag_age_test = pd.read_csv('Resources/Diag_Age_National_CandR.csv')
# diag_age_test = pd.read_csv('Resources/Diag_Age_State_CandR.csv')
# diag_age_test = pd.read_csv('Resources/Diag_Age_County_CandR.csv')

diag_age_test.head()
# diag_age_test.columns

,Geography,2008,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2018,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110
0,NaN,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,...,13-24,NaN,25-34,NaN,35-44,NaN,45-54,NaN,55+,NaN
1,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
2,United States,"8,577",16.8,"12,538",30.6,"12,630",29.9,"9,385",21.2,"4,160",...,"7,734",15.1,"13,322",29.2,"7,158",17.3,"5,282",12.7,"3,790",4

In [61]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_age_files:
    diag_age_df = pd.read_csv(f)
    #Rename columns 
    diag_age_df = diag_age_df.rename(columns={'Geography':'Full Name','2008':'13_14 Diag 08','Unnamed: 2':'13_14 Diag Rate 08','Unnamed: 3':'25_34Diag_08','Unnamed: 4':'25_34 Diag Rate 08','Unnamed: 5':'35_44Diag_08','Unnamed: 6':'35_44 Diag Rate 08','Unnamed: 7':'45_54 Diag 08','Unnamed: 8':'45_54 Diag Rate 08','Unnamed: 9':'55+ Diag 08','Unnamed: 10':'55+ Diag Rate 08',
                                           '2009':'13_14 Diag 09','Unnamed: 12':'13_14 Diag Rate 09','Unnamed: 13':'25_34Diag_09','Unnamed: 14':'25_34 Diag Rate 09','Unnamed: 15':'35_44Diag_09','Unnamed: 16':'35_44 Diag Rate 09','Unnamed: 17':'45_54 Diag _09','Unnamed: 18':'45_54 Diag Rate 09','Unnamed: 19':'55+ Diag 09','Unnamed: 20':'55+ Diag Rate 09',
                                           '2010':'13_14 Diag 10','Unnamed: 22':'13_14 Diag Rate 10','Unnamed: 23':'25_34Diag_10','Unnamed: 24':'25_34 Diag Rate 10','Unnamed: 25':'35_44Diag_10','Unnamed: 26':'35_44 Diag Rate 10','Unnamed: 27':'45_54 Diag 10','Unnamed: 28':'45_54 Diag Rate 10','Unnamed: 29':'55+ Diag 10','Unnamed: 30':'55+ Diag Rate 10',
                                           '2011':'13_14 Diag 11','Unnamed: 32':'13_14 Diag Rate 11','Unnamed: 33':'25_34Diag_11','Unnamed: 34':'25_34 Diag Rate 11','Unnamed: 35':'35_44Diag_11','Unnamed: 36':'35_44 Diag Rate 11','Unnamed: 37':'45_54 Diag 11','Unnamed: 38':'45_54 Diag Rate 11','Unnamed: 39':'55+ Diag 11','Unnamed: 40':'55+ Diag Rate 11',
                                           '2012':'13_14 Diag 12','Unnamed: 42':'13_14 Diag Rate 12','Unnamed: 43':'25_34Diag_12','Unnamed: 44':'25_34 Diag Rate 12','Unnamed: 45':'35_44Diag_12','Unnamed: 46':'35_44 Diag Rate 12','Unnamed: 47':'45_54 Diag 12','Unnamed: 48':'45_54 Diag Rate 12','Unnamed: 49':'55+ Diag 12','Unnamed: 50':'55+ Diag Rate 12',
                                           '2013':'13_14 Diag 13','Unnamed: 52':'13_14 Diag Rate 13','Unnamed: 53':'25_34Diag_13','Unnamed: 54':'25_34 Diag Rate 13','Unnamed: 55':'35_44Diag_13','Unnamed: 56':'35_44 Diag Rate 13','Unnamed: 57':'45_54 Diag 13','Unnamed: 58':'45_54 Diag Rate 13','Unnamed: 59':'55+ Diag 13','Unnamed: 60':'55+D Diag Rate 13',
                                           '2014':'13_14 Diag 14','Unnamed: 62':'13_14 Diag Rate 14','Unnamed: 63':'25_34Diag_14','Unnamed: 64':'25_34 Diag Rate 14','Unnamed: 65':'35_44Diag_14','Unnamed: 66':'35_44 Diag Rate 14','Unnamed: 67':'45_54 Diag 14','Unnamed: 68':'45_54 Diag Rate 14','Unnamed: 69':'55+ Diag 14','Unnamed: 70':'55+ Diag Rate 14',
                                           '2015':'13_14 Diag 15','Unnamed: 72':'13_14 Diag Rate 15','Unnamed: 73':'25_34Diag_15','Unnamed: 74':'25_34 Diag Rate 15','Unnamed: 75':'35_44Diag_15','Unnamed: 76':'35_44 Diag Rate 15','Unnamed: 77':'45_54 Diag 15','Unnamed: 78':'45_54 Diag Rate 15','Unnamed: 79':'55+ Diag 15','Unnamed: 80':'55+ Diag Rate 15',
                                           '2016':'13_14 Diag 16','Unnamed: 82':'13_14 Diag Rate 16','Unnamed: 83':'25_34Diag_16','Unnamed: 84':'25_34 Diag Rate 16','Unnamed: 85':'35_44Diag_16','Unnamed: 86':'35_44 Diag Rate 16','Unnamed: 87':'45_54 Diag 16','Unnamed: 88':'45_54 Diag Rate 16','Unnamed: 89':'55+ Diag 16','Unnamed: 80':'55+ Diag Rate 16',
                                           '2017':'13_14 Diag 17','Unnamed: 92':'13_14 Diag Rate 17','Unnamed: 93':'25_34Diag_17','Unnamed: 94':'25_34 Diag Rate 17','Unnamed: 95':'35_44Diag_17','Unnamed: 96':'35_44 Diag Rate 17','Unnamed: 97':'45_54 Diag 17','Unnamed: 98':'45_54 Diag Rate 17','Unnamed: 99':'55+ Diag 17','Unnamed: 100':'55+ Diag Rate 17',
                                           '2018':'13_14 Diag 18','Unnamed: 102':'13_14 Diag Rate 18','Unnamed: 103':'25_34Diag_18','Unnamed: 104':'25_34 Diag Rate 18','Unnamed: 105':'35_44Diag_18','Unnamed: 106':'35_44 Diag Rate 18','Unnamed: 107':'45_54 Diag 18','Unnamed: 108':'45_54 Diag Rate 18','Unnamed: 109':'55+ Diag 18','Unnamed: 110':'55+ Diag Rate 18'
                                               })
    diag_age_df = diag_age_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_age_df = diag_age_df.apply(lambda x: parsed(x))
    if i>1:
        diag_age_df1 = diag_age_df
    elif i>0:
        diag_age_df0 = diag_age_df
    else:
        diag_age_df2 = diag_age_df
    i = i + 1

# print(diag_race_df0.head())
# print(diag_race_df1.head())
# print(diag_race_df2.head())
diag_age_data = pd.concat([diag_age_df0,diag_age_df1,diag_age_df2]).reset_index(drop=True)
diag_age_data.head()

,Full Name,13_14 Diag 08,13_14 Diag Rate 08,25_34Diag_08,25_34 Diag Rate 08,35_44Diag_08,35_44 Diag Rate 08,45_54 Diag 08,45_54 Diag Rate 08,55+ Diag 08,...,13_14 Diag 18,13_14 Diag Rate 18,25_34Diag_18,25_34 Diag Rate 18,35_44Diag_18,35_44 Diag Rate 18,45_54 Diag 18,45_54 Diag Rate 18,55+ Diag 18,55+ Diag Rate 18
0,United States,8577,16.8,12538,30.6,12630,29.9,9385,21.2,4160,...,7734,15.1,13322,29.2,7158,17.3,5282,12.7,3790,4
1,Alabama,168,21.4,185,30.3,165,26.5,143,21.3,48,...,182,23.8,192,29.8,87,14.7,70,11.2,41,2.8
2,Alaska,5,3.7,11,10.7,10,10.8,11,10.4,2,...,5,4.2,6,5,3,3.2,4,4.5,2,1.1
3,Arizona,110,10.4,213,22.5,203,23.3,117,13.8,36,...,153,13.3,298,30.2,167,19,102,12,86,4
4,Arkansas,47,10,69,18,57,15.3,44,11.1,21,...,77,16.1,103,26,48,13,34,9.2,19,2.1

In [62]:
diag_age_data.to_csv('Output/diag_age.csv',index=False)

DIAGNOSIS DATA by Race

In [63]:
diag_race_files = glob.glob("Resources/*Race*.csv")
diag_race_files

['Resources/Diag_Race_National_CandR.csv',
 'Resources/Diag_Race_County_CandR.csv',
 'Resources/Diag_Race_State_CandR.csv']

In [64]:
#Check data is reading in and how it looks
diag_race_test = pd.read_csv('Resources/Diag_Race_National_CandR.csv')
# diag_race_test = pd.read_csv('Resources/Diag_Race_State_CandR.csv')
# diag_race_test = pd.read_csv('Resources/Diag_Race_County_CandR.csv')

diag_race_test.head()
# diag_race_test.columns

,Geography,American Indian/Alaska Native 2008,Unnamed: 2,Asian 2008,Unnamed: 4,Black/African American 2008,Unnamed: 6,Hispanic/Latino 2008,Unnamed: 8,Multiple races 2008,...,Black/African American 2018,Unnamed: 146,Hispanic/Latino 2018,Unnamed: 148,Multiple races 2018,Unnamed: 150,Native Hawaiian/Other Pacific Islander 2018,Unnamed: 152,White 2018,Unnamed: 154
0,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
1,United States,147,7.9,659,6,"21,719",72.5,"9,820",28.3,"2,327",...,"16,008",47.5,"9,664",20.9,881,18.7,69,14.4,"9,606",5.6

In [65]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_race_files:
    diag_race_df = pd.read_csv(f)
    #Shorten and rename columns (for usability) American Indian/Alaska Native=AI_AN, Asian, Black/African American=Black, Hispanic/Latino=Latino, Multiple races=Multi, Native Hawaiian/Other Pacific Islander=NH_OPI, White
    diag_race_df = diag_race_df.rename(columns={'Geography':'Full Name','American Indian/Alaska Native 2008':'AI_AN Diag 08','Unnamed: 2':'AI_AN Diag Rate 08','Asian 2008':'Asian Diag 08','Unnamed: 4':'Asian Diag Rate 08','Black/African American 2008':'Black Diag 08','Unnamed: 6':'Black Diag Rate 08','Hispanic/Latino 2008':'Latino Diag 08','Unnamed: 8':'Latino Diag Rate 08','Multiple races 2008':'Multi Diag 08','Unnamed: 10':'Multi Diag Rate 08','Native Hawaiian/Other Pacific Islander 2008':'NH_OPI Diag 08','Unnamed: 12':'NH_OPI Diag Rate 08','White 2008':'White Diag 08','Unnamed: 14':'White Diag Rate 08',
                                                    'American Indian/Alaska Native 2009':'AI_AN Diag 09','Unnamed: 16':'AI_AN Diag Rate 09','Asian 2009':'Asian Diag 09','Unnamed: 18':'Asian Diag Rate 09','Black/African American 2009':'Black Diag 09','Unnamed: 20':'Black Diag Rate 09','Hispanic/Latino 2009':'Latino Diag 09','Unnamed: 22':'Latino Diag Rate 09','Multiple races 2009':'Multi Diag 09','Unnamed: 24':'Multi Diag Rate 09','Native Hawaiian/Other Pacific Islander 2009':'NH_OPI Diag 09','Unnamed: 26':'NH_OPI Diag Rate 09','White 2009':'White Diag 09','Unnamed: 28':'White Diag Rate 09',
                                                    'American Indian/Alaska Native 2010':'AI_AN Diag 10','Unnamed: 30':'AI_AN Diag Rate 10','Asian 2010':'Asian Diag 10','Unnamed: 32':'Asian Diag Rate 10','Black/African American 2010':'Black Diag 10','Unnamed: 34':'Black Diag Rate 10','Hispanic/Latino 2010':'Latino Diag 10','Unnamed: 36':'Latino Diag Rate 10','Multiple races 2010':'Multi Diag 10','Unnamed: 38':'Multi Diag Rate 10','Native Hawaiian/Other Pacific Islander 2010':'NH_OPI Diag 10','Unnamed: 40':'NH_OPI Diag Rate 10','White 2010':'White Diag 10','Unnamed: 42':'White Diag Rate 10',
                                                    'American Indian/Alaska Native 2011':'AI_AN Diag 11','Unnamed: 44':'AI_AN Diag Rate 11','Asian 2011':'Asian Diag 11','Unnamed: 46':'Asian Diag Rate 11','Black/African American 2011':'Black Diag 11','Unnamed: 48':'Black Diag Rate 11','Hispanic/Latino 2011':'Latino Diag 11','Unnamed: 50':'Latino Diag Rate 11','Multiple races 2011':'Multi Diag 11','Unnamed: 52':'Multi Diag Rate 11','Native Hawaiian/Other Pacific Islander 2011':'NH_OPI Diag 11','Unnamed: 54':'NH_OPI Diag Rate 11','White 2011':'White Diag 11','Unnamed: 56':'White Diag Rate 11',
                                                    'American Indian/Alaska Native 2012':'AI_AN Diag 12','Unnamed: 58':'AI_AN Diag Rate 12','Asian 2012':'Asian Diag 12','Unnamed: 60':'Asian Diag Rate 12','Black/African American 2012':'Black Diag 12','Unnamed: 62':'Black Diag Rate 12','Hispanic/Latino 2012':'Latino Diag 12','Unnamed: 64':'Latino Diag Rate 12','Multiple races 2012':'Multi Diag 12','Unnamed: 66':'Multi Diag Rate 12','Native Hawaiian/Other Pacific Islander 2012':'NH_OPI Diag 12','Unnamed: 68':'NH_OPI Diag Rate 12','White 2012':'White Diag 12','Unnamed: 70':'White Diag Rate 12',
                                                    'American Indian/Alaska Native 2013':'AI_AN Diag 13','Unnamed: 72':'AI_AN Diag Rate 13','Asian 2013':'Asian Diag 13','Unnamed: 74':'Asian Diag Rate 13','Black/African American 2013':'Black Diag 13','Unnamed: 76':'Black Diag Rate 13','Hispanic/Latino 2013':'Latino Diag 13','Unnamed: 78':'Latino Diag Rate 13','Multiple races 2013':'Multi Diag 13','Unnamed: 80':'Multi Diag Rate 13','Native Hawaiian/Other Pacific Islander 2013':'NH_OPI Diag 13','Unnamed: 82':'NH_OPI Diag Rate 13','White 2013':'White Diag 13','Unnamed: 84':'White Diag Rate 13',
                                                    'American Indian/Alaska Native 2014':'AI_AN Diag 14','Unnamed: 86':'AI_AN Diag Rate 14','Asian 2014':'Asian Diag 14','Unnamed: 88':'Asian Diag Rate 14','Black/African American 2014':'Black Diag 14','Unnamed: 90':'Black Diag Rate 14','Hispanic/Latino 2014':'Latino Diag 14','Unnamed: 92':'Latino Diag Rate 14','Multiple races 2014':'Multi Diag 14','Unnamed: 94':'Multi Diag Rate 14','Native Hawaiian/Other Pacific Islander 2014':'NH_OPI Diag 14','Unnamed: 96':'NH_OPI Diag Rate 14','White 2014':'White Diag 14','Unnamed: 98':'White Diag Rate 14',
                                                    'American Indian/Alaska Native 2015':'AI_AN Diag 15','Unnamed: 100':'AI_AN Diag Rate 15','Asian 2015':'Asian Diag 15','Unnamed: 102':'Asian Diag Rate 15','Black/African American 2015':'Black Diag 15','Unnamed: 104':'Black Diag Rate 15','Hispanic/Latino 2015':'Latino Diag 15','Unnamed: 106':'Latino Diag Rate 15','Multiple races 2015':'Multi Diag 15','Unnamed: 108':'Multi Diag Rate 15','Native Hawaiian/Other Pacific Islander 2015':'NH_OPI Diag 15','Unnamed: 110':'NH_OPI Diag Rate 15','White 2015':'White Diag 15','Unnamed: 112':'White Diag Rate 15',
                                                    'American Indian/Alaska Native 2016':'AI_AN Diag 16','Unnamed: 114':'AI_AN Diag Rate 16','Asian 2016':'Asian Diag 16','Unnamed: 116':'Asian Diag Rate 16','Black/African American 2016':'Black Diag 16','Unnamed: 118':'Black Diag Rate 16','Hispanic/Latino 2016':'Latino Diag 16','Unnamed: 120':'Latino Diag Rate 16','Multiple races 2016':'Multi Diag 16','Unnamed: 122':'Multi Diag Rate 16','Native Hawaiian/Other Pacific Islander 2016':'NH_OPI Diag 16','Unnamed: 124':'NH_OPI Diag Rate 16','White 2016':'White Diag 16','Unnamed: 126':'White Diag Rate 16',
                                                    'American Indian/Alaska Native 2017':'AI_AN Diag 17','Unnamed: 128':'AI_AN Diag Rate 17','Asian 2017':'Asian Diag 17','Unnamed: 130':'Asian Diag Rate 17','Black/African American 2017':'Black Diag 17','Unnamed: 132':'Black Diag Rate 17','Hispanic/Latino 2017':'Latino Diag 17','Unnamed: 134':'Latino Diag Rate 17','Multiple races 2017':'Multi Diag 17','Unnamed: 136':'Multi Diag Rate 17','Native Hawaiian/Other Pacific Islander 2017':'NH_OPI Diag 17','Unnamed: 138':'NH_OPI Diag Rate 17','White 2017':'White Diag 17','Unnamed: 140':'White Diag Rate 17',
                                                    'American Indian/Alaska Native 2018':'AI_AN Diag 18','Unnamed: 142':'AI_AN Diag Rate 18','Asian 2018':'Asian Diag 18','Unnamed: 144':'Asian Diag Rate 18','Black/African American 2018':'Black Diag 18','Unnamed: 146':'Black Diag Rate 18','Hispanic/Latino 2018':'Latino Diag 18','Unnamed: 148':'Latino Diag Rate 18','Multiple races 2018':'Multi Diag 18','Unnamed: 150':'Multi Diag Rate 18','Native Hawaiian/Other Pacific Islander 2018':'NH_OPI Diag 18','Unnamed: 152':'NH_OPI Diag Rate 18','White 2018':'White Diag 18','Unnamed: 154':'White Diag Rate 18'
    })

    diag_race_df = diag_race_df.iloc[1:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_race_df = diag_race_df.apply(lambda x: parsed(x))
    if i>1:
        diag_race_df1 = diag_race_df
    elif i>0:
        diag_race_df2 = diag_race_df
    else:
        diag_race_df0 = diag_race_df
    i = i + 1

# print(diag_race_df0.head())
# print(diag_race_df1.head())
# print(diag_race_df2.head())
diag_race_data = pd.concat([diag_race_df0,diag_race_df1,diag_race_df2]).reset_index(drop=True)
diag_race_data.head()

,Full Name,AI_AN Diag 08,AI_AN Diag Rate 08,Asian Diag 08,Asian Diag Rate 08,Black Diag 08,Black Diag Rate 08,Latino Diag 08,Latino Diag Rate 08,Multi Diag 08,...,Black Diag 18,Black Diag Rate 18,Latino Diag 18,Latino Diag Rate 18,Multi Diag 18,Multi Diag Rate 18,NH_OPI Diag 18,NH_OPI Diag Rate 18,White Diag 18,White Diag Rate 18
0,United States,147,7.9,659,6,21719,72.5,9820,28.3,2327,...,16008,47.5,9664,20.9,881,18.7,69,14.4,9606,5.6
1,Alabama,1,5.1,3,8.1,487,49.4,27,28.7,52,...,410,38.4,15,9.9,18,37.2,0,0,127,4.6
2,Alaska,12,15.1,0,0,7,34,1,3.3,1,...,1,4.9,1,2.6,2,6.1,2,26.7,6,1.6
3,Arizona,27,13,11,8.6,63,34.7,237,16.8,15,...,134,52.4,327,18.8,9,9.1,4,35.3,276,8
4,Arkansas,1,5.9,1,4,122,34.8,18,16.2,14,...,157,42,23,13.7,2,5.4,0,0,96,5.2

In [67]:
diag_race_data.to_csv('Output/diag_race.csv',index=False)

DIAGNOSIS DATA by Transmission

In [68]:
diag_tran_files = sorted(glob.glob("Resources/*Tran*.csv"))
diag_tran_files

['Resources/Diag_Tran_County_C.csv',
 'Resources/Diag_Tran_National_C.csv',
 'Resources/Diag_Tran_State_C.csv']

In [69]:
#Check data is reading in and how it looks
diag_tran_test = pd.read_csv('Resources/Diag_Tran_National_C.csv')
# diag_tran_test = pd.read_csv('Resources/Diag_Tran_State_C.csv')
# diag_tran_test = pd.read_csv('Resources/Diag_Tran_County_C.csv')

diag_tran_test.head()
# diag_tran_test.columns

,Geography,2008,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2009,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2017,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,2018,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,NaN,Heterosexual contact,Injection drug use,Male-to-male sexual contact,Male-to-male sexual contact and injection drug...,Other,Heterosexual contact,Injection drug use,Male-to-male sexual contact,Male-to-male sexual contact and injection drug...,...,Heterosexual contact,Injection drug use,Male-to-male sexual contact,Male-to-male sexual contact and injection drug...,Other,Heterosexual contact,Injection drug use,Male-to-male sexual contact,Male-to-male sexual contact and injection drug...,Other
1,NaN,Cases,Cases,Cases,Cases,Cases,Cases,Cases,Cases,Cases,...,Cases,Cases,Cases,Cases,Cases,Cases,Cases,Cases,Cases,Cases
2,United States,"14,189","4,455","26,537","2,017",93,"12,926","3,793","26,070","1,876",...,"9,056","2,343","25,404","1,347",76,"8,778","2,478","24,650","1,305",76

In [70]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_tran_files:
    diag_tran_df = pd.read_csv(f)
    #Shorten and Rename columns Heterosexual contact=M2F   Injection drug use=ID   Male-to-male sexual contact=M2M   Male-to-male sexual contact and injection drug use=M2MID   Other=O
    diag_tran_df = diag_tran_df.rename(columns={'2008':'M2F Diag 08', 'Unnamed: 2':'ID Diag 08', 'Unnamed: 3':'M2M Diag 08', 'Unnamed: 4':'M2MID Diag 08','Unnamed: 5':'O Diag 08', 
                                                '2009':'M2F Diag 09', 'Unnamed: 7':'ID Diag 09', 'Unnamed: 8':'M2M Diag 09', 'Unnamed: 9':'M2MID Diag 09','Unnamed: 10':'O Diag 09', 
                                                '2010':'M2F Diag 10', 'Unnamed: 12':'ID Diag 10', 'Unnamed: 13':'M2M Diag 10', 'Unnamed: 14':'M2MID Diag 10','Unnamed: 15':'O Diag 10', 
                                                '2011':'M2F Diag 11', 'Unnamed: 17':'ID Diag 11', 'Unnamed: 18':'M2M Diag 11', 'Unnamed: 19':'M2MID Diag 11','Unnamed: 20':'O Diag 11', 
                                                '2012':'M2F Diag 12', 'Unnamed: 22':'ID Diag 12', 'Unnamed: 23':'M2M Diag 12', 'Unnamed: 24':'M2MID Diag 12','Unnamed: 25':'O Diag 12', 
                                                '2013':'M2F Diag 13', 'Unnamed: 27':'ID Diag 13', 'Unnamed: 28':'M2M Diag 13', 'Unnamed: 29':'M2MID Diag 13','Unnamed: 30':'O Diag 13', 
                                                '2014':'M2F Diag 14', 'Unnamed: 32':'ID Diag 14', 'Unnamed: 33':'M2M Diag 14', 'Unnamed: 34':'M2MID Diag 14','Unnamed: 35':'O Diag 14', 
                                                '2015':'M2F Diag 15', 'Unnamed: 37':'ID Diag 15', 'Unnamed: 38':'M2M Diag 15', 'Unnamed: 39':'M2MID Diag 15','Unnamed: 40':'O Diag 15', 
                                                '2016':'M2F Diag 16', 'Unnamed: 42':'ID Diag 16', 'Unnamed: 43':'M2M Diag 16', 'Unnamed: 44':'M2MID Diag 16','Unnamed: 45':'O Diag 16', 
                                                '2017':'M2F Diag 17', 'Unnamed: 47':'ID Diag 17', 'Unnamed: 48':'M2M Diag 17', 'Unnamed: 49':'M2MID Diag 17','Unnamed: 50':'O Diag 17', 
                                                '2018':'M2F Diag 18', 'Unnamed: 52':'ID Diag 18', 'Unnamed: 53':'M2M Diag 18', 'Unnamed: 54':'M2MID Diag 18','Unnamed: 55':'O Diag 18'
                                               })
    diag_tran_df = diag_tran_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_tran_df = diag_tran_df.apply(lambda x: parsed(x))
    if i>1:
        diag_tran_df1 = diag_tran_df
    elif i>0:
        diag_tran_df0 = diag_tran_df
    else:
        diag_tran_df2 = diag_tran_df
    i = i + 1

# print(diag_tran_df0.head())
# print(diag_tran_df1.head())
# print(diag_tran_df2.head())
diag_tran_data = pd.concat([diag_tran_df0,diag_tran_df1,diag_tran_df2]).reset_index(drop=True)
diag_tran_data.head()

,Geography,M2F Diag 08,ID Diag 08,M2M Diag 08,M2MID Diag 08,O Diag 08,M2F Diag 09,ID Diag 09,M2M Diag 09,M2MID Diag 09,...,M2F Diag 17,ID Diag 17,M2M Diag 17,M2MID Diag 17,O Diag 17,M2F Diag 18,ID Diag 18,M2M Diag 18,M2MID Diag 18,O Diag 18
0,United States,14189,4455,26537,2017,93,12926,3793,26070,1876,...,9056,2343,25404,1347,76,8778,2478,24650,1305,76
1,Alabama,253,54,378,22,1,200,41,427,27,...,161,25,443,22,1,150,20,394,7,1
2,Alaska,10,4,22,3,0,9,5,8,0,...,7,3,20,4,0,3,2,12,3,0
3,Arizona,95,76,459,49,1,98,67,431,46,...,114,47,515,46,4,101,59,605,39,3
4,Arkansas,44,15,166,12,0,58,22,188,11,...,56,17,205,9,0,66,15,192,7,1

In [71]:
diag_tran_data.to_csv('Output/diag_tran.csv',index=False)

DIAGNOSIS DATA by Gender

In [72]:
diag_sex_files = glob.glob("Resources/*Sex*.csv")
diag_sex_files

['Resources/Diag_Sex_County_CandR.csv',
 'Resources/Diag_Sex_National_CandR.csv',
 'Resources/Diag_Sex_State_CandR.csv']

In [73]:
#Check data is reading in and how it looks
diag_sex_test = pd.read_csv('Resources/Diag_Sex_National_CandR.csv')
# diag_sex_test = pd.read_csv('Resources/Diag_Sex_State_CandR.csv')
# diag_sex_test = pd.read_csv('Resources/Diag_Sex_County_CandR.csv')

diag_sex_test.head()
# diag_sex_test.columns

,Geography,2008,Unnamed: 2,Unnamed: 3,Unnamed: 4,2009,Unnamed: 6,Unnamed: 7,Unnamed: 8,2010,...,Unnamed: 35,Unnamed: 36,2017,Unnamed: 38,Unnamed: 39,Unnamed: 40,2018,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,Female,NaN,Male,NaN,Female,NaN,Male,NaN,Female,...,Male,NaN,Female,NaN,Male,NaN,Female,NaN,Male,NaN
1,NaN,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,...,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000,Cases,Rate per 100000
2,United States,"11,397",8.9,"35,893",29.2,"10,203",7.9,"34,548",27.9,"9,454",...,"32,023",24.2,"7,284",5.2,"30,942",23.2,"7,139",5.1,"30,147",22.5

In [74]:
def parsed(x):
    try:
        return int(x)
    except:
        return x
i=0

for f in diag_sex_files:
    diag_sex_df = pd.read_csv(f)
    #Shorten and Rename columns Heterosexual contact=M2F   Injection drug use=ID   Male-to-male sexual contact=M2M   Male-to-male sexual contact and injection drug use=M2MID   Other=O
    diag_sex_df = diag_sex_df.rename(columns={'Geography':'Full Name','2008':'F Diag 08','Unnamed: 2':'F Diag Rate 08','Unnamed: 3':'M Diag 08','Unnamed: 4':'M Diag Rate 08','2009':'F Diag 09','Unnamed: 6':'F Diag Rate 09','Unnamed: 7':'M Diag 09','Unnamed: 8':'M Diag Rate 09', 
                                              '2010':'F Diag 10','Unnamed: 10':'F Diag Rate 10','Unnamed: 11':'M Diag 10','Unnamed: 12':'M Diag Rate 10','2011':'F Diag 11','Unnamed: 14':'F Diag Rate 11','Unnamed: 15':'M Diag 11','Unnamed: 16':'M Diag Rate 11', 
                                              '2012':'F Diag 12','Unnamed: 18':'F Diag Rate 12','Unnamed: 19':'M Diag 12','Unnamed: 20':'M Diag Rate 12','2013':'F Diag 13','Unnamed: 22':'F Diag Rate 13','Unnamed: 23':'M Diag 13','Unnamed: 24':'M Diag Rate 13',
                                              '2014':'F Diag 14','Unnamed: 26':'F Diag Rate 14','Unnamed: 27':'M Diag 14','Unnamed: 28':'M Diag Rate 14','2015':'F Diag 15','Unnamed: 30':'F Diag Rate 15','Unnamed: 31':'M Diag 15','Unnamed: 32':'M Diag Rate 15',
                                              '2016':'F Diag 16','Unnamed: 34':'F Diag Rate 16','Unnamed: 35':'M Diag 16','Unnamed: 36':'M Diag Rate 16','2017':'F Diag 17','Unnamed: 38':'F Diag Rate 17','Unnamed: 39':'M Diag 17','Unnamed: 40':'M Diag Rate 17',
                                              '2018':'F Diag 18','Unnamed: 42':'F Diag Rate 18','Unnamed: 43':'M Diag 18','Unnamed: 44':'M Diag Rate 18'
                                               })
    diag_sex_df = diag_sex_df.iloc[2:].replace({'Data suppressed': np.nan, ',': ''}, regex=True)
    diag_sex_df = diag_sex_df.apply(lambda x: parsed(x))
    if i>1:
        diag_sex_df1 = diag_sex_df
    elif i>0:
        diag_sex_df0 = diag_sex_df
    else:
        diag_sex_df2 = diag_sex_df
    i = i + 1

# print(diag_sex_df0.head())
# print(diag_sex_df1.head())
# print(diag_sex_df2.head())
diag_sex_data = pd.concat([diag_sex_df0,diag_sex_df1,diag_sex_df2]).reset_index(drop=True)
diag_sex_data.head()

,Full Name,F Diag 08,F Diag Rate 08,M Diag 08,M Diag Rate 08,F Diag 09,F Diag Rate 09,M Diag 09,M Diag Rate 09,F Diag 10,...,M Diag 16,M Diag Rate 16,F Diag 17,F Diag Rate 17,M Diag 17,M Diag Rate 17,F Diag 18,F Diag Rate 18,M Diag 18,M Diag Rate 18
0,United States,11397,8.9,35893,29.2,10203,7.9,34548,27.9,9454,...,32023,24.2,7284,5.2,30942,23.2,7139,5.1,30147,22.5
1,Alabama,212,10.5,497,26.8,167,8.2,528,28.3,183,...,517,26.4,137,6.4,514,26.2,117,5.5,455,23.1
2,Alaska,8,3,31,10.6,9,3.3,12,4.1,10,...,29,9.1,8,2.8,26,8.2,4,1.4,16,5.1
3,Arizona,84,3.2,595,22.8,78,2.9,564,21.3,72,...,613,21.5,105,3.5,620,21.3,95,3.1,711,24
4,Arkansas,43,3.5,195,17,61,5,219,19,37,...,266,22,49,3.8,238,19.6,52,4,229,18.7

In [75]:
diag_sex_data.to_csv('Output/diag_sex.csv',index=False)